<div class="row">
<div class="col-lg-10 col-lg-offset-1">
            <div class="thumbnail well center well-sm text-center">

                     <!-- <h5 class="widgetheading">Newsletter</h5> -->
                
                    <p>Subscribe to our stories and stay tuned.</p>
                
               <div id="mc_embed_signup">
<form action="https://thebackpackdiaries.us17.list-manage.com/subscribe/post?u=85493280cc6a777f542512091&amp;id=8488ce27b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
                      <div class="input-group">
                        <span class="input-group-addon">
                         <i class="icon-envelope2"></i>
                        </span>
                        <input class="form-control" value="" name="EMAIL" class="required email" id="mce-EMAIL" type="text" placeholder="your@email.com">
                      </div> 
                       <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div> 
     <div class="clear"><input type="submit" value="Subscribe" name="Stay informed" id="mc-embedded-subscribe" class="btn btn-large btn-primary" style= "margin-top: 15px" ></div>
                   </div> 
                </form>
            </div>    
        </div>
</div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = []; window.ftypes = [];fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->