<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Featured Posts</h4>
            <div class="row">
                <div class="col-xs-4">
                    <img src="/images/coorg.png" height="80px" alt="" />
                </div>
                <div class="col-xs-8">
                    <a class="title" href="/coorg-the-scotland-of-south/"> Trip to Coorg — The Real taste of Moments</a>
                    <p>22 November 2016</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <img src="/images/bea.jpg" height="80px" alt="" />
                </div>
                <div class="col-xs-8">
                    <a class="title" href="/10-ways-to-be-a-traveler-not-a-tourist/"> 10 ways to be a traveler rather than a tourist</a>
                    <p>20 May 2017</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <img src="/images/alukhasa.png" height="80px" alt="" />
                </div>
                <div class="col-xs-8">
                    <a class="title" href="/alukhasa-kharagpur-railway-station-special/"> Alukhasa - Kharagpur railway station special</a>
                    <p>05 January 2018</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Tweets</h4>
            <div class="row tweet">
                <div class="col-xs-1">
                    <i class="icon-twitter2"></i>
                </div>
                <div class="col-xs-11">
                    <div class="message"><a href="https://twitter.com/Ratnakar1811" target="_blank"><strong>@Ratnakar1811</strong></a> Thatipudi Reservoir - Queensland of Eastern Ghats #WANDERLUSTVIBES #WANDERLOVE</div>
                    <small>16 Feb 2018</small>
                </div>
            </div>
            <div class="row tweet">
                <div class="col-xs-1">
                    <i class="icon-twitter2"></i>
                </div>
                <div class="col-xs-11">
                    <div class="message"><a href="https://twitter.com/Ratnakar1811" target="_blank"><strong>@Ratnakar1811</strong></a> The first stab of love is like a sunset, a blaze of color-oranges, pearly pinks, vibrant…</div>
                    <small>12 Feb 2018</small>
                </div>
            </div>
            <!-- <div class="row tweet">
							<div class="col-xs-1">
								<i class="icon-twitter2"></i>
							</div>
							<div class="col-xs-11">
								<div class="message"><a href="https://twitter.com/Ratnakar1811" target="_blank"><strong>@Ratnakar1811</strong></a> #ImPrettySureThat youth in the country are not useless...they are used less!!! #employments #youth</div>
								<small>07 Jan 2018</small>
							</div>
						</div> -->
        </div>
        <div class="col-md-4">
            <div class="widget">
                <h4 class="widgetheading">Pages</h4>
                <ul class="link-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contribute</a></li>
                    <li><a href="#">Ebooks</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="/layouts/privacy.html">Privacy policy</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
           
                <form name='submit-to-google-sheet'>
                   
                        <div class="input-group">
                            <input class="form-control" value="" name="email" class="required email" id="email" type="email" placeholder="Enter your Email Address" required>
                            <span class="input-group-addon">
                         <div class="clear"><button type="submit" class="subscribe-button" value="Subscribe" name="subscribe" > <i class="icon-envelope2"></i></button>
                        </span></div>
           
            </form>
        </div>
    </div>
</div>

<div id="tbpd-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <p>&copy; The Backpack Diaries. All Rights Reserved. Designed by <a href="" target="_blank">Ratnakar</a></p>
            </div>
        </div>
    </div>
</div>

<script>
 const scriptURL = 'https://script.google.com/macros/s/AKfycbxz4aB-uAdJrfT3h4LIWirLD_TP6sMht5YshZwdZvQTqHpuIhI/exec';
 const form = document.forms['submit-to-google-sheet'];

 form.addEventListener('submit', e => {
   e.preventDefault();

   fetch(scriptURL, { method: 'POST', body: new FormData(form)})
     .then(response => console.log('Success!', response);)
     .catch(error => console.error('Error!', error.message);)
 })
</script>