<header id="header" class="header">
        <div class="header-nav bg-color">
            <div class="container">
                <div class="row">
					<div class="col-sm-12">
						<nav class="main-menu">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar top-bar"></span>
									<span class="icon-bar middle-bar"></span>
									<span class="icon-bar bottom-bar"></span>
								</button>
								<a class="navbar-brand" href="/"><img class="logo" src="/images/logo.png" alt="BLOG"></a>
							</div><!--End navbar-header -->
							<div id="navbar" class="navbar-collapse collapse">
								<ul class="nav navbar-nav navbar-right">
									<li><a class="menubgactive" href="/ratnakar-patrayudu/">About Me</a></li>
									
								</ul>
							</div><!--End navbar -->
						</nav>
					</div><!--End col -->
                </div><!--End row -->
            </div><!--End container -->
        </div><!--End header-nav -->
    </header>