<div class="col-md-6">
<div class="card-body">
      <div class="card-block">
	<div class="row">
		<div class="col-md-6 text-center">
			<img src="{{ printf "%s" .image }}" class="image-responsive" >
		</div>
		<div class="col-md-6">
			<div class="card">
      <div class="card-block">
        <h3 class="card-title title-middle-responsive"><b>{{ .ebooktitle }}</b></h3>
        <h4 class="card-title title-middle-responsive text-left">{{ .subtitle }}</h4>
       <!--  <p class="card-text">{{ .ebookdescription }}</p> -->
        <p class="card-block text-right"><i>- {{ .author }}</i></p>
        <div class="text-center">
       <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#{{ .ebook }}">
  Preview
</button></div>
<!-- Modal -->
<div id="{{ .ebook }}" class="modal modal-wide" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
      <div class="row">
      
        <div class="col-md-5 text-center">
          <img src="{{ printf "%s" .image }}" class="image-responsive">
          
        </div>
        <div class="col-md-7">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h3 class="card-title title-middle-responsive"><b>{{ .ebooktitle }}</b></h3>
        <h4 class="card-title title-middle-responsive text-left">{{ .subtitle }}</h4>
           <p>{{ .ebookdescription }}</p>
<div class="row"></div>
          
            
           <div class="row">
             <div class="col-md-4 text-center">
                <a href="{{ .ebookurl }}" target="_blank" align=center ><button type="button" class="btn btn-primary text-center">Buy Now</button></a>
             </div>
             <div class="col-md-8">
                <div class="text-center" >
              <span>Share this Book:</span>
              <ul class="tbpd-social-icons">
              <li><a href="https://twitter.com/intent/tweet?status={{ .ebooktitle }} by {{ .author }}{{ .ebookurl }}" target="_blank"><i class="icon-twitter2"></i></a></li>
              <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .ebookurl }}" target="_blank"><i class="icon-facebook3"></i></a></li>
              <li><a href="https://api.whatsapp.com/send?text={{ .ebooktitle }} by {{ .author }}{{ .ebookurl }}" target="_blank"><i class="icon-whatsapp"></i></a></li>
              
              
            </ul><!-- end list-social -->
            </div>
             </div>
           </div>
        </div>
      </div>
       
      </div>
    
    </div>

  </div>
</div>

      </div>
    </div>

	 </div>
  </div>
  	</div>
	</div>
</div>
