+++
date = "2017-05-20T11:52:59+05:30"
title = "10 ways to be a traveler rather than a tourist "
url = "/10-ways-to-be-a-traveler-not-a-tourist/"
description   = """It may seem like splitting hairs,but remember "Tourists get guided by the tales of a Traveler"."""
banner = "https://www.thebackpackdiaries.in/images/bea.jpg"
bgimage = "/images/bea.jpg"
+++

<p><b>T</b>ravelers use traveling as an educational experience, to learn about themselves as much as about their surroundings, whereas tourists use traveling as escapism, a way to forget about themselves. I’d like to emphasize one thing, it’s not about the debate, it’s about your plan,personal preference, and efficiency.</p>
<p><b>1.</b> Think about the destinations often forgotten, the ones outside the main tourist track. Try to explore the less-traveled areas and explore locations where tourism doesn’t drive the economy along with the tourist spots.</p>
<img src="/images/place.jpg" class="img-responsive" alt="Globe">
              <p><b>2.</b> If u want to be like a real traveler, experience the native culture wherever you go just by interacting with people..they say a lot about their places, of course whom else you can trust than the hereditary. Someone who considers himself a traveler will try to immerse himself in the local culture rather than standing out.</p>
              <h3 align="center"><b>Talk with the locals as much as possible.</b></h3>
              <p>Instead of listening to a tour guide, interact with locals and have a chat in a park, in a pub or even on a bus. Especially the elders are fantastic sources for helping you to understand better the culture of the city/country you visited. If you are lucky, you can make a good friendship in a short time.</p>
              <img src="/images/locale.jpg" class="img-responsive" alt="chefs at empire hotel in coorg">
              <p><b>3.</b> Walk the area on foot or travel by the local transportation to experience the place as the locals do instead of taking guided tours or tour buses. 
              <blockquote>Remember <b>“Tourists get guided by guides which were once written by a Traveler.”</b>
              </blockquote>
              Make use of Google maps and various GPS gadgets to explore places so that you will be on track moreover by updating your travel details on google maps u can be a local guide to many people who travel to these destinations in further.</p>
              <img src="/images/trek.jpeg" class="img-responsive" alt="View from nandi hills bangalore">
              <h3><b>4.</b> Get on a bus, a train, a local bicycle hire.</h3> Do not be afraid to use public transport. You will meet people, see amazing sights, go to places that you might not otherwise and you’ll save money.</p>
              <h3><b>5.</b> Try to learn the language basics.</h3> One hour is usually enough to learn how to say <b> “Hello,” “Thanks,”</b> etc. Greeting and asking someone <b>“Do you speak English?” </b> in his or her own language, before switching to English, will make the person appreciate you more than trying to speak directly in English. Make use of technology like google translate and many more language applications its will be quite interesting. You’ll find learning the local language can make your travel experience much more enjoyable...</p>
              <blockquote>"If you talk to a man in a language he understands, that goes to his head. If you talk to him in his own language, that goes to his heart." ‒ Nelson Mandela</blockquote>
              <p>I believe it’s essential to break the superiority complex of native English speaking countries on the road and show respect for the places you are visiting by attempting to converse in their language instead of just assuming they can understand you in English. Trust me on this one, you will be rewarded for your effort!</p>
							 
							<h3><b>6.</b>Taste the local varieties of food and wine  </h3><ul>
                <li>One tip is to look around and see where the locals are eating. Try to avoid those places that cater to tourists by putting items on the menu that are obviously not local.</li>
                <li>Ask a local for recommendations.</li>
                <li>Eat what is in season in their style rather than our same regular diet.</li>
                <li>Also, depending on where you are, do some research and see if there are any farmer’s markets happening while you’re visiting. Farmer’s markets are a great way to buy locally, meet people and get a feel for the destination. If you see something that’s unfamiliar, ask what it is and how it’s prepared — it’s a great way to start a conversation and learn about a culture’s food traditions.</li>
                <li>Finally, some fantastic opportunities are popping up lately to have meals with locals in their homes. Obviously, you should do your due diligence when considering using one of these services, but the idea of connecting food lovers to share a home-cooked meal in a local’s home is a great way to get to know a destination, learn about the regional cuisine and make a few friends along the way.</li>
                </p>
              </ul>
              <img src="/images/biryani.jpeg" class="img-responsive" alt="coorg herbs biryani">
              
              <h3><b>7.</b> Less luggage more comfort</h3><p>I live off a backpack and travel indefinitely. To make traveling easy and enjoyable, you need to get rid of the big chunk of your physical belongings. It’s a lot about the mindset shift as you need to understand that owning too much stuff doesn’t provide you freedom and safety. It ties you up and makes you worry more.</p>
              <h3><b>8.</b> Be a wanderer and explore the places</h3>
              <blockquote><b>Where there is a will, there is a way.</b></blockquote>Honestly, I believe if you have your heart set on something, there are too many ways. Once you are possessed by wanderlust, you will find ways to live your dream.</p>
              <center><img src="/images/wanderer.gif" alt="A wanderer" class = "img-responsive" type ="gif"></center>
               <h3><b>9.</b> Safety first carry a medical kit and local police contacts</h3><p>Make a list to help you think of things to pack in your travel health kit. Be sure to think about where you are going and whether you will have access to health items and supplies.</p>
               <h3><b>10.</b> Be prepared to feel... </h3><p>the historical,social and cultural life instead of emphasizing you’ve been somewhere by showing the pictures of all the famous places to your friends. Your friends can see all that online; go and find the unique, the truly unusual, and connect with real people. In the end, you’re going on holiday for yourself, not to impress other people. Feel the beauty with the soul then capture it all in one that’s what a traveler do because those are the real memories that can feel heartily after a few years when we stare at...</p>
              
              <h3><b>Be a traveler Infographic:</b></h3><p>
              <a href="/images/10_ways_to_be_a_traveler_infographic.pdf" target="_blank"><img src="/images/be_a_traveler_infographic.png" class="img-responsive" alt="10 ways to be a traveler infographic"></a>
              <h2 align="center"><b>Be a traveler not a tourist!!!</b></h2>
              <p><b>Do you have some other wonderful ways to keep your travel effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
              <p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <p align="center" style="color:#0278AE "><b>#thebackpackdiaries</b></p>