+++
date = "2019-01-11T11:52:59+05:30"
title = "AGRA: Beauties from the Mughal era"
url = "/agra-solo-backpacking-trip/"
description   = """Taj Mahal is an excellent tribute to eternal love - "WAAH TAJ". Agra is a one stop for architectural wonders from the Mughal era."""
banner = "https://www.thebackpackdiaries.in/images/Tajmahal.jpg"
bgimage = "/images/Tajmahal.jpg"
+++


<p><b>T</b>his is the first halt in my Solo Backpacking trip to Rajasthan and the Golden triangle tourist circuit. OK, before you start searching "Is Agra in Rajasthan?", I don't want to miss the opportunity to see the most beautiful structure defining love. So here I'm!!!</p>

<h2>What is the Golden triangle tourist circuit?</h2>
<p>India's Golden triangle tourist circuit is a most desirable tourist circuit which covers the three historical destination namely Delhi, <a href="/agra-solo-backpacking-trip/" target="_blank">Agra</a>, and <a href="/backpacking-trip-to-jaipur-rajasthan/" target="_blank">Jaipur</a>. Because of its appearance on the map connecting these three places the route is named as Golden triangle tourist circuit. It is the best way for all travelers to visit India easily. <a href="https://www.independent.co.uk/travel/asia/the-complete-guide-to-indias-golden-triangle-434773.html" target="_blank">"Golden triangle tourist circuit"</a> gives you a new shape to your vision with excellent locations and beautiful art & architecture.</p>
<p><b>REACHING AGRA :</b></p> 
<p>Finally arrived at Agra after traveling 36hrs by train. At 3 in the evening, stepped on Agra. The truth is that, Agra city is famous for Tajmahal, but there are also many other places which need to be visited.</p>
<p><b>Day:1</b></p>  
<h3>Walk To TAJ MAHAL:</h3>
<p>Travel doesn't become an adventure until you leave yourself behind. Taj Eastern Gate was 1.5 KM away from my stay at Moustache hostel in Agra, and thus I decided to walk. And the monument was 20 minutes walk from the hostel, so I've been rushing fast to reach before the counter closes.I went into the queue to buy tickets which costs me Rs. 50. But well, for one time it's worth it. As it was Sunday and the premise was overcrowded which made me walk around 5km in the queue to get inside taj.</p>
<p>As I was approaching it, I got a glimpse of the beauty of the Taj. Even from a distance, it was mesmerizing. When I got inside, for a moment I was stunned when I first saw it, and the only word that came out of my mouth - WaooooW &#x1F60D." The most beautiful human-made structures I have ever seen." What is most stunning about the Taj? compared to other monuments, is just how glorious it shines against its empty backdrop. It is hard to put into words just how crisp and clear the visual it is.</p>
<img src="/images/prk_taj.png" class="img-responsive" alt="Selfie at tajmahal">
<p>Taj Mahal is considered one of the architectural marvels of the world and a symbol of enduring love. Mughal Emperor Shah Jahan built this monument in loving memory of his beloved wife, Mumtaz. The monument was built in around 42 acres of land with pure white marble brought from various places across the world. It is believed that the emperor chose this particular spot along the banks of Yamuna because of its peaceful and calmness. And it now one of the seven wonders of the world and also recognized as one among the world heritage sites.</p>
<p>It's one of those places that not only meets but beats expectations. This is an excellent tribute to eternal love. Just a phrase is enough to express the beauty "WAAH TAJ."</p>
<p>The watches clocked at 5 pm, and I'm ready to catch the last rays of the day glancing off the most beautiful structure defining love. I witnessed one of the most spectacular moments in the world. When the rays of setting sun hit the glittering marble on the bank of Yamuna, it looked glaring like a shining diamond, and with the effect, I crossed the crowd in no time like a fan who wanted to meet his superhero. The only thought in my mind was "Why did it take so long for me to visit finally?"</p>
<img src="/images/sunset_taj.jpg" class="img-responsive" alt="Sunset view of tajmahal">
<p>The greatness of this fascinating ivory white marble structure glittering towards the blue sky, The Taj Mahal, doesn't only lie on its magnificent art of work or the mughal's beautiful architectural brilliance but in the very true love story from india's rich history where it actually took birth from! It definitely leaves an imprint in the hearts of the people who witnessed with their own eyes. A place where you have left forever but always there to see when the eyes are shut!A tear drop on the face of eternity.💓</p>
<blockquote><b>Love's gift cannot be given, it waits to be accepted.- <cite>Rabindranath Tagore</cite> </b></blockquote>
<p>You have to take your shoes off when you head inside and better of wearing shoes that are easy to remove. Take shoe covers from parking lots or near the entry queue to avoid the trouble.I came out of the Taj Mahal after looking every corner, clicking as many pictures as I can all around of it. I spent about 3 and a half hours roaming around and clicking, and then I bid farewell to the Taj Mahal.</p>
<h4>Taj Mahal's mud therapy:</h4>
<p>Recently Taj Mahal has recently been undergoing restorations. Air pollution from factories in Agra had been slowly turning the Taj Mahal's ivory-white surfaces yellow - and <b>mud therapy</b> is one way of restoring them to their former glory.</p>
<p>Taj Mahal has four gates on all the four directions - east, west, north, south. All the barriers are similar, and a first timer can get easily confused. So if you are by your vehicle, do not hesitate to ask anyone regarding the directions. I too had to face similar illusion. Until then I'm super glad the trip is happening without incidents!!!but then I realized that I'm Lost!!!</p>
<p>I have got nothing in my pockets. I left everything at the hostel in a hurry. Then I opened google map the walkway. I don't know if Google has identified the routes earlier. Dammm it made me walk roundabout 7km to reach my hostel including the small passes beside canals, dargah and even the gaps between two houses. Finally, at 10 pm, I reached my hostel. But what an adventure!!!</p>
<p>After a quick freshup, reached terrace of our hostel to have dinner, and I have met a Mexican traveler who has joined me for dinner. He told me about his days in India and places he been through. I needed rest, and I dozed off as soon as I hit the bed.</p>
<h4>How to Reach Taj Mahal:</h4><ol>
<li><b>By Air:</b> Kheria Airport in Agra is a small airport which is almost 13 km far from the main city. Only very few flights are landing here. The other nearest Airport is IGI Airport (DEL)-Delhi.</li>
<li><b>By Train:</b> This is the best, cheapest and the most recommended mode of transportation to reach Agra. The nearest railway stations are Agra Cantt railway station and Agra Fort railway station from there by hiring a vehicle you can reach Taj Mahal.</li>
<li><b>By Road:</b> Agra is connected to all major stations from different cities, you will get a direct bus to Agra.</li></ol>
<p><h4>Best time to visit Taj Mahal:</h4> All year round but October - March is best as weather will be awesome in Agra in these months.</p>
<h4>Taj Mahal Timings & Tickets :</h4>
<p> It is open from Sunrise to Sunset every day except Friday. Please Visit <a href="https://www.tajmahal.gov.in/ticketing.html" target="_blank">Taj Official Portal</a> for regular updates on the ticket prices.</p>
<p><b>No genius writing can describe the exquisite beauty of Taj Mahal. This power of beauty has to be witnessed in person. Hope you visit soon!</b></p>
<p><b>Day:2</b></p>
<h3>Agra Fort:</h3>
<p>The next day early in the morning booked a taxi and headed towards Agra Fort. Agra fort timings are from Sunrise to sunset like Taj. Queries related to Agra fort information and ticket prices, please visit <a href="https://www.agrafort.gov.in/indexNew/index.html" target="_blank">Agra Fort official website.</a> This magnificent fort still stands erect and firm even after 400 years of its construction and showing no sign of aging. It is a sight to behold and the perfect place to experience the legacy of the legendary Mughal empire. It is even bigger than Delhi red fort!</p>
<p>It's a vast area to cover, and so it requires at least 2 hours to see it's majesty and if you are a history lover you can hire a guide to tell you the significance and importance of every corner accurately. The Taj view from the top of Agra fort was fantastic and covered in the fog it looked even more stunning.</p>
<img src="/images/Agrafort.jpg" class="img-responsive" alt="View at Agra fort">
<p>The magnificent fort consists of various amazing structures like the Jahangir Mahal, Khas Mahal, Diwan-I-Khass, Diwan-I-Am, Machchhi Bhawan and Moti Masjid, a jasmine tower, a mirror palace (Shish Mahal), courtrooms and the remains of Akbar's once grand royal residence.</p>
<p>It is said that the whole Agra fort architecture is like an underground network hub interconnected through passages and other underground pathways to various places. A few of these is like a secret passage to access during times of emergency. Another such passage is connecting the fort to the banks of river Yamuna situated close to the Water Gate.</p>
<p>A bit quick as I had also to visit Fatehpur Sikri. I left Agra Fort around 10:30 am, finished my breakfast on the roadside which serves - <b>Bedai Kachori</b> a special dish from Agra along with lassi. I bought the <b>Agra Ka Petha</b> for my friends before leaving Agra.</p>
<p>We started at Agra Fort to Fatehpur Sikri as the distance between Agra to Fatehpur Sikri is around 50 km would take around 1hr minimum.</p>
<h3>Fatehpur Sikri:</h3>
<p>After roaming around the Agra Fort for an hour and a half, reached to the car and headed straight to Fatehpur Sikri. The condition of the road towards Fatehpur Sikri is quite dangerous and not at all well maintained. A drive that would have taken us an hour made a half hour extra to reach. We reached Fatehpur Sikri at around 11:30 am.</p>
<p>There will be a lot of local boys posing to guide and claiming that they can give a tour of the place. I would ask you to avoid all of them and visit the place by yourself. On entering this tomb, again many localities will start harassing you claiming to be the tourist guides. I would still suggest you avoid them too. If you really need one hire from the official staff.</p>
<p>Fatehpur Sikri architecture standout amongst the best-preserved monument of Indian Mughal architecture in India. There are five places to see in Fatehpur Sikri fort complex. They are Buland Darwaza, Tomb of Salim Chishti, Nawab Islam Khan's Tomb, Jama Masjid and the Panch Mahal. All these places are architectural marvels of that time, but the paintings on the main fort structure are exceptional. Numerous motion pictures like Pardes, negligible sibling ki Dulhan, and so on were shot here.</p>
<img src="/images/fathepur_sikhi_fort_complex.png" class="img-responsive" alt="View at Fatehpur Sikri fort complex">
<p>The entire structure of Fatehpur Sikri Fort is "hollow". There is a Primitive air conditioning system inside the fort that was built in the Mughal era. There is a war tunnel which connects Fatehpur Sikri to Agra to Delhi. The passage was utilized in war times. Sadly, it is closed currently as a major aspect of the passage had collapsed.</p>
<h4>Buland Darwaza</h4> 
<p>While entering the tomb, there are about 100– 150 stairs then the tremendous structure called Buland Darwaza appears. The massive size of the Buland Darwaza was attractive. I had to strain my neck at a 135 degrees angle to have a good view.</p>
<h4>Tomb of Salim Chishti</h4>
<p>The Dargah of Salim Chisti was the spot where the Tomb of Salim Chishti is being preserved. Akbar later built the fort here, and Jahangir did the marble art on Salim Chisti Dargah. In Salim Chisti dargah there is a common ritual that one can pray and can tie a knot to make a wish. As Akbar also wished for a child here and his wish got fulfilled. Even today people continue it.The guides insisted me to offer a Chadar at the dargah, but that's not necessary. You can have a visit without anything. It all lies within you whether to perform or not.</p>
<h4>Nawab Islam Khan's Tomb</h4>
<p>Islam Khan I, who served as a general in the Mughal army in the reign of Jahangir was the grandson of Shaikh Salim Chishti. His red sandstone tomb topped by a dome and thirty-six small domes and number of graves. Leaving behind the architectural beauty and the mighty structures it's just a holy graveyard( I felt)</p>
<h4>Jama Masjid:</h4>
<p>Jama Masjid is a prayer hall in the complex, and it is placed to the left when you enter from the grand BULAND DARWAJA.</p>
<h4>The Panch Mahal:</h4>
<p>The Panch Mahal is one of the five things to see in Fatehpur Sikri fort complex. It means "wind catcher tower' which was authorized by Akbar. Panch Mahal is situated near to the Zenana quarters (Harem) which was used for infotainment and relaxation purposes earlier. It is a unique structure utilizing the concept of a Buddhist Temple which is completely columnar. This five-storied palatial monument contains 84 columns of decreasing size arranged asymmetrically on the ground floor, which is popularly known as "THE DREAM OF STONES."</p>
<img src="/images/panchamahal.jpg" class="img-responsive" alt="View of Panchamahal">
<p>It took me around 2 hours to have a good tour of Fatehpur Sikri. The weather was awesome as it was the month of October cool breeze was blowing in the morning but afternoons are deadly as usual. Had a quick break at dhaba on the way, The Dhaba was good. They charged about 70 rs, and the food was delicious. I've finally been able to eat a Punjabi style roti with daal Makhani. We drove back to Agra to witness the other monuments.</p>
<h3>Sikander Fort:</h3>
<p>As it is located on the outskirts of Agra, we went to Sikander Fort first. Akbar's tomb is situated inside the fort whose construction had begun under the reign of Akbar but was completed by his son Jehangir in 1605 after Akbar's death. The Speciality of this tomb is its echo. When the baba reads out a few lines and you can hear the eco chanting!!! It is said that a visit to Agra is successful only after you visit Akbar's grave. We spent about an hour exploring the fort, but the temperature is too hot outside so I tried taking pictures and marvelling at the amazing architecture from inside as much as possible. I also found few black bucks are being raised in the laws of Sikander Fort.</p>
<img src="/images/Sikindra_fort.jpg" class="img-responsive" alt="View of Sikander Fort">
<p>There are few other monuments like <b>Guru Ka Taal, Jama Masjid, Mariam's tomb, Baby Taj </b> which were covered during the second half of the day.</p>
<h3>Sheroes Hangout:</h3>
<p>Like every other tourist, I was there to see the Tajmahal. Down a dusty shopping street of beeping horn and squeaking rickshaws, I found this 'Sheroes Hangout' a bright, welcoming cafe runs entirely by survivors of the acid attacks.</p>
<p>A Smiling face appeared as I sat down at the table with a welcome menu. It is on the t-shirt of the servers along with the slogan " my beauty my smile" and they do smile as they bring me a cold coffee. I have forgotten the beauty of Taj in front of them.</p>
<p>Most customers here are foreigners, and there is no price on the menu- you pay what you choose, and most give much more than the cost of the meal. Visitors eat drink in the most peaceful and cheerful environment. They have books in their selves.They can be borrowed, swapped and bought by donation. I read the little documentary about why the cafe exists. After listening to their stories I must say they are not victims, they are survivors, they are real survivors.</p>
<p>I'd say if you are planning to go to Agra, please do visit the <a href="https://www.sheroeshangout.com/" target="_blank">Sheroes Hangout Cafe.</a></p>
<h3>Mehtab Bagh</h3>
<p>There is an ideal location for viewing the Taj Mahal across the Yamuna River which was actually built by Babur long ago and later identified by Shah Jahan as <b>"a moonlit pleasure garden"</b> nowadays called as <b>Mehtab Bagh</b>. It was 5:30 pm by now and the sun had started to set. As I wanted to catch a glimpse of the Taj Mahal for sunset views, we drove to the other side of the river Yamuna. It was a breathtaking view of Taj Mahal just caught in the last rays of the sun before it set like a picture of heaven.</p>
<img src="/images/mehatahbagh_view.jpg" class="img-responsive" alt="View of Tajmahal from Mehtab Bagh">
<h4>How to Reach Agra:</h4><ol>
<li><b>By Air:</b> Kheria Airport in Agra is a small airport which is almost 13 km far from the main city. Only very few flights are landing here. The other nearest Airport is IGI Airport (DEL)-Delhi.</li>
<li><b>By Train:</b> This is the best, cheapest and the most recommended mode of transportation to reach Agra. The nearest railway stations are Agra Cantt railway station and Agra Fort railway station from there by hiring a vehicle you can reach Taj Mahal and other places..</li>
<li><b>By Road:</b> Agra is connected to all major stations from different cities, you will get a direct bus to Agra.</li></ol>
<p><h4>Best time to visit Agra:</h4> All year round but October - March is best as weather will be awesome in Agra in these months.</p>
<h4>Things to do in Agra :</h4><ol>
<li>Have a local delicacy 'Petha' for dessert at the Bazaar</li>
<li>Support acid attack survivors by eating at Sheroes Hangout Cafe</li>
<li>Try Bendai Kachori and Lassi</li>
<li>Shopping at Meena Bazaar</li></ol>
<h4>Places to see in and around Agra:</h4><ol>
<li>Visit the Taj Mahal for sunrise/Sunset</li>
<li>Watch the sunset/raise at Mehtab Bagh / Taj Mahal Viewpoint</li>
<li>Agra Fort</li>
<li>Jama Masjid</li>
<li>Fatehpur Sikri</li>
<li>Itmad-Ud-Daulah's Tomb</li>
<li>Akbar's Tomb</li>
<li>Sikandra Fort</li>
<li>Mariyam's Tomb</li>
<li>Guru ki Taal</li></ol>

<p>A trip to Agra is a journey into the rich history and culture of India architected during Mughal Era.
I checked out of the hostel, packed my backpack and headed to Agra Cantt. Rly station.</p>
<p>Next place on my wanderer list? I was heading to <a href="/backpacking-trip-to-jaipur-rajasthan/" target="_blank">Jaipur</a> for next two days!</p>
<p><b>P.C:</b> Udaya Challa</p>


<p><b>Do you have some other wonderful ways to keep your travel effective while on the move? Share with me in the comments below your smart ways.</b></p>
              <p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
             <h4 align="center" style="color:#0278AE "><b>#PlacesofIndia</b></h4>
