+++
date = "2018-03-05T11:52:59+05:30"
title = "Chilika Lake - Beauty of Brackish Water Lagoon"
url = "/chilika-lake-odisha/"
description   = """Catching a view of migrated birds, glimpse of the dolphins is something that you must witness at Chilika lake."""
banner = "https://www.thebackpackdiaries.in/images/kalijaiisland.jpg"
bgimage = "/images/jetty.jpg"
+++

<p><b>R</b>ecently I came across an <a href="http://www.thehindu.com/news/national/day-cruise-forest-trails-planned-at-chilika-lagoon/article17763632.ece/" target="_blank">article</a> regarding the Odisha’s Chilika. While going through it glimpses of my childhood memories flashed through my eyes..</p>
<p class="m-b-0">During my school days, I used to go to my mama’s house for vacations. I always came across huge water bodies through which train passes by. I was assuming it as a sea and I wonder how can a train pass by!! It’s been a huge fantasy and I used to share it with my friends about this as a socio-fantasy movie. Those are my encounters with Chilika in my childhood.</p> 
<p>I shared my interest in exploring Chilika with Kishan. Without any second thought, he expressed his willingness. We have decided to feel the Beauty of brackish water lagoon. We have packed our backpacks and headed towards Chilika. As we are from different locations we managed to gather at Bhubaneswar as a common meeting point and to start our journey.</p>
<p>I met Rajmohan Das during my apprenticeship in Odisha. I Spoke to him regarding our plan soon he joined us at Bhubaneswar. Despite my passion for a bike ride, we hired an auto to reach Balugaon Ghat which is around 100 km away from Bhubaneswar. It took us about 2 hrs to travel by road, meantime we made our action plan.</p>
<h2>Chilika Lake</h2>
<p>The largest brackish water lagoon lake of Asia, This is an excellent tourist spot for fishing, boating, and bird watching, also famous for seafood like crab and prawn. Dotted with many islands, Chilika can be a delightful experience. Lots of people especially visit this place for this fabulous experience.</p>
<p>We took Rs 2500 package*(may varies) which covers Kalijai, Nalaban & Dolphin. We started to Kali Jai Temple. After seeing the boat running in the middle waters our adrenaline got rushed. We requested our boat driver as if we had any chance to Jump into the water and swim but he kindly declined and said NO!!!! Due to lack of Jackets, he advised not to swim anywhere. </p>
<img src="/images/chilikaboatride.jpeg" class="img-responsive" alt="View from chilika boat ride">
<h3>KaliJai Temple</h3>
<p>The jetty is pretty colourful engaging photographers to capture some colourful shots!!. KaliJai Temple is the holy place as a centre of religious worship in Chilika lagoon. Where Goddess Kalijai as a presiding deity is worshipped by locale and it is the most frequently visited spot for tourists.</p> 
<img src="/images/kalijaitemple.jpg" class="img-responsive" alt="View from KaliJai temple">
<p>We followed the fellow passengers to reach the temple. Everyone pray Goddess Kalijai for their safe journey in the lake. Every year in january on the occasion of Makar Sankranti a big fair held here. The Scenic view from the island towards the Chilika lake is a beautiful experience.</p>
<img src="/images/kalijaiisland.jpg" class="img-responsive" alt="View from Kali jai Island">
<p>After the temple visit, we got stunning views at various locations so we did a small photo shoot. Driver backup us as we have to travel a few more places and explore them. Our voyage has started towards the Nalabana island for the migratory birds.</p>

<h3>BIRD'S ISLAND</h3>

<p>Due to the overwhelming response to the Chilika lake, few guidelines have been set up by the tourism department such as only a few no. of boats should pass at a time and likewise to make a peaceful journey without disturbing their habitat. Finally, we reached the spot where our boat anchored and stood still on the floating waters and allowing us to grab a perfect visual.</p>
<p>It is winter stop-over of the migratory birds situated in the southern region. During the winter season, Migratory birds visit Chilika every year to nest and breed. Birds of about 50 species and nearly 4 lakh birds were hosted every year.</p> 
<a href="https://www.instagram.com/p/BfL5auBg2zg/?tagged=chilika"><img src="/images/birdisland.jpg" class="img-responsive" alt="View of bird's island"></a>
<p>A perfect destination for the bird’s lovers to watch birds in their natural habitat. As sighting, the innumerable Pelicans and Storks is an amazing experience and you can capture these moments on your cameras.
Don’t forget to carry your binoculars while going for a boat ride around the lake else you gonna miss something spectacular. To showcase the diversity of migratory birds, the Government of Odisha has initiated a bird festival in January.</p>
<h3>Dolphin Point</h3>
<p>Dolphin Point is one of the renowned attractions for travellers. The Irrawaddy Dolphins species can be seen in the waters of Chilika.The Irrawaddy dolphin is the most important species of Chilika lake. Only two lagoons in the world that are home to Irrawaddy dolphins and Chilika is one of them.</p>
<p>In a recent <a href="http://odishasuntimes.com/number-of-dolphins-increases-to-162-in-odishas-chilika/" target="_blank">survey</a> by The forest department says there is an increase in the dolphin's count in recent days.</p>
<p>Instructions have been issued at the jetty for the travellers to be taken near the Dolphin point. Our boat driver said that due to the rapid increase in motorboats it’s a bit difficult. Usually, we can get a clear vision during early hours of sunrise and sunset, when the sun’s rays are relatively mild.</p> 
<p>Although catching sight of the Irrawaddy dolphins is a matter of luck, We were still on fingers crossed and didn't let our hope go. Luck didn’t favour us too… We ought to see the tail after hours of waiting but didn't able to see a flip.</p>
<p>Something is better than nothing huff with a little satisfaction from the bottom of the heart, we geared up back to the ghat. We left to Bhubaneswar after reaching the bank of Chilika.</p> 
<img src="/images/chilika.jpeg" class="img-responsive" alt="View from Dolphin Point">
<blockquote><b>Best Time To Visit Chilika lake: OCT - MAR</b></blockquote>
<h3>How to reach Chilika lake:</h3>
<p>Chilka Lake is frequented by travellers across the globe. If you are planning to make it to Chilka lake you can avail any of the mode of transport mentioned below:</p>
<p><ol><li><b>By Air:</b> Bhubaneswar Biju Patnaik International Airport is the nearest airport to Chilka. From the airport, you can hire a taxi or take a bus to reach the lake area.</li></p>
<p><li><b>By Train:</b> The nearest railway station to Chilka is located in Balugaon, which is nearly 5 Kms away. From the railway station, one can easily hire an auto or take a taxi to travel to the lake.</li></p>
<p><li><b>By Road:</b> Travelling to Chilka Lake is quite convenient for visitors. There are regular OSRTC buses that run from Cuttack or you can also travel via NH5 from the Bhubaneswar to reach Chilika Lake as we did.</li></ol></p>

<p>The resplendent lagoon encompasses many beautiful spots within the lake and also around it. From the beautiful architecture of the temples to the spectacular migrant avian species which make the lagoon their home during the winters, Chilika has a bit of everything. the joy of visiting the lagoon during the winters has an altogether different charm.</p>
<p><b>Do you have some other wonderful ways to keep Chilika lake trip effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
<p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <h4 align="center" style="color:#0278AE "><b>#PlacesofIndia</b></h4>