+++
date = "2017-12-23T11:52:59+05:30"
title = "Chitrakoot Waterfalls - The Indian Niagara"
url = "/chitrakoot-waterfalls-the-indian-niagara/"
description   = """The Sound of gushing water of Indravati river as it falls down, is a stunning vista at Chitrakoot waterfalls."""
banner = "https://www.thebackpackdiaries.in/images/Chitrakoot.jpg"
bgimage = "/images/Chitrakoot.jpg"
+++

<p><b>A</b>s soon as I heard about Chitrakoot waterfall in Chhattisgarh, I started doing my research on the travel plan from Visakhapatnam to Chitrakoot waterfalls. As there are only two options either by road or by train, I prefer the second one which is the most economical for nomadic backpackers. I started at 10 PM from Visakhapatnam railway station train no: <b>08512 VSKP- JDB</b> Spl train an initiative of Tourism department.</p>
<p>After an overnight journey from the city, I have landed in the serene and cool ambiance of Jagdalpur.</p>
<p>As soon as you reach towards the Bastar region(this area popularly know as bastar), you will fell in love with its simplicity. Fog covered Lush green Sal trees surrounding the roads will make you feel thrilled.</p>
<img src="/images/Jagdalpur.jpg" class="img-responsive" alt="View from Jagdalpur railway station">
<blockquote><b>Bastar region can easily be termed as “A Traveller’s Delight.”</b></blockquote>
<p>A young man in twenties laid foot in the dense forest of Chitrakoot with his backpack. His heart is raging with a desire to explore the unexplored. It was none other than the ME 😉.</p>
<p>On my way from Jagdalpur, I was planning for the mode of transport to reach to Chitrakoot. I found a group of people who has a similar passion for travel. We together completed the rest of the journey. Travel will make you explore new places, new persons and new cultures!!!</p>
<img src="/images/gang.jpg" class="img-responsive" alt="our gang from Bhilai">
<p>After getting a means of public transport from Jagdalpur, it’s of 2 hrs journey from Jagdalpur to Chitrakoot waterfalls. If you rely on public transport the frequency of vehicles is low. You can book a cab either right from the railway station or bus station.</p>
<p>Finally….we reached <b>Chitrakoot</b>!!!!!</p>
<p><b>The incredible sight of water falling from a height of 100 feet into the Indravati river is a real wow!.</b> The sound of gushing water of Indravati river as it cascaded down from a height, creating a stunning vista. Local boat facilities operating below and under the falls in a misty atmosphere provide views of the falls. Have a look at the chitrakoot waterfalls video.</p>
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" width="700" height="400" src="https://www.youtube.com/embed/eRzaVNd10nw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </div>
<p>Especially during monsoons, it looks even more beautiful. The roarings of flowing water will kill you softly with its sound.</p>
<p>One who wishes to spend quality time in nature’s lap and getting lost amidst the sound of the free roaring water, Chitrakoot waterfall is the best among others. Take your favourite novel and just sit on the rocks in front of the waterfall for hours. The location is perfect ambience to relax and regenerate.
</p>
<p><b>When to visit: </b>You can experience the variations in nature throughout the year. In the rainy season, i.e. from July to October you can experience the mighty roarings of the waterfall, where as you experience the milky white calm ambience from Nov to June.</p>

<p><b>How to reach: </b> Nearest airports Raipur and Visakhapatnam. From Raipur, you can reach Chitrakoot by road which is a overnight journey and you will find buses frequently to jagdalpur. From Visakhapatnam you can reach chitrakoot by rail which is also an overnight journey..</p>

<p><b>Where to stay: </b> Chhattisgarh tourism offers resorts near chitrakoot waterfalls and you can find many places in jagdalpur to make you stay. Companies like Oyo, goibibo also offers accommodations in jagdalpur.</p>

<p>Bastar region has a lot of offer. It is not just the Chitrakoot waterfalls!. There are much more things to do and see in and around Jagdalpur. Two of them are as follows:.</p>

<h3><b>1.</b>Tirathgarh Waterfalls:</h3><p>The Milky white waterfalls is another destination near jagdalpur, which is on the other side of chitrakoot. The roadway is a bit narrow but you will experience the ghati feel with greenery filled along. The fragrance of wild flowers will make your road trip much more exciting.</p>
<p>But as it is ghati way preferable to make your trip in the afternoon and wind it up in the early hours of the evening. We stated in the afternoon hiring a cab wala from jagdalpur chowk ( Junction 😉 ).</p>
<p>Despite the road conditions and weather changes our driver managed to get there in an hour. The sounds of bird, cool breezes, amazing woods, breathtaking curves one experience the perfect road trip on the way to tirathgarh. Finally, we reached tirathgarh.</p>
<img src="/images/tiradhgharfalls.jpg" class="img-responsive" alt="View of Tirathgarh Waterfalls">
<p>It has an excellent view of kanger river tumbling down into several levels finally into the deep valley. The splashing streams of tirathgarh have an incredible view. It is popular in between Oct to feb. The fury and beauty of these milky waterfalls are best seen when in full flux, just after the copious monsoon, when it attains its full power as the water plunges from 91 feet.</p>

<h3><b>2.</b>Arts and Culture of Bastar :</h3>
<blockquote><b>“When in Bastar do as the Bastariha do.”</b></blockquote>
<p>inspired by the quote:</p>
<blockquote><b>“When you are in Rome be like a roman.”</b></blockquote>
<p><b>“Bastariha”</b> is a generic term to refer to the residents of Bastar. The best part of our Bastar trip was the Gond tribal dance performance. While we are planning for tirathgarh falls these amazing performances gave us spellbound experience the rich bastar Culture.</p>

<p>The youngsters thumping to the beat of the dhol, tabala etc just leaves you enchanted. The way they enjoy while performing rejuvenates you once again to make another whirlwind round of the local attractions.</p>
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item"  width="700" height="400" src="https://www.youtube.com/embed/M_6Jfs39Rkc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen"></iframe>
 </div>
<p>Bastar proudly upholds a deep-rooted ancient way of tribal life that can’t be found anywhere else in India. The best part is to visit the weekly haat (market), where I got to interact with tribal communities and understand their cultures.</p>
<img src="/images/haat_market_bastar.jpg" class="img-responsive" alt="arts and crafts of tribal people were ready for selling in the market">

<p>The people creating the piece of genius have no clue what they are worth. The kind of art sold here in some hundreds are exported to foreign nations and are sold to millions of people who appreciate their art. But if you seriously want to see hand-made bastar art items, walk inside one of the art shops. There are many such shops in the city of Jagdalpur. I am not the person who understands art that much. But as soon as I entered inside one of those stores, my eyes were awestruck!</p>
<img src="/images/crafts.jpg" class="img-responsive" alt="arts and crafts of tribal people were ready for selling in the market">

<p>The people of Bastar were also amongst the earliest to work with metal and have expertise in making beautiful figurines of tribal gods, votive animals, oil lamps, carts and animals.</p>

<p>We left back to Jagdalpur station to catch the return train to Visakhapatnam at 7:30 pm.</p>

<p>As an avid traveller, I am proud of my nation just for its simplicity. Chhattisgarh has a lot to offer regarding diversity. Be it the Niagara of India (Chitrakoot) or the epic tribal culture (Bastar lifestyle), and it has everything.</p>

<p><b>Do you have some other wonderful ways to keep your Chitrakoot trip effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
<p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <h4 align="center" style="color:#0278AE "><b>#PlacesofIndia</b></h4>






