+++
date = "2016-11-22T11:52:59+05:30"
title = "Coorg Road Trip - The Real taste of Moments"
url = "/coorg-the-scotland-of-south/"
description   = """I cannot forget about the way we became childish to have a sip of famous coffee that land offers us at Coorg."""
banner = "https://www.thebackpackdiaries.in/images/coorg.png"
bgimage = "/images/coorg.png"
+++

<p><b>We </b>travel across various paths to encounter staggering emotions that hit our head. Whenever I feel low in my life the only option embraces me is to explore new places. Earth gave us an abundant quest to regenerate ourselves. This time I wanted to a take a leaf from my inner sight about a familiar crush for all mad travelers across the globe including me i.e.<b>Coorg the Scotland of India,</b>popularly known as <b>Madikeri</b>.</p>
<h4>This is our Coorg Travelogue: Bangalore to Coorg Road trip</h4>
<p>Being a traveler exploring new places and enjoying the local recipes is not only matters but also the travel does. My Exploration started with my bestie from Bangalore to Coorg via Mysore which is of 300 km away on my white beast KTM 200cc. Bangalore to Coorg route has quite less traffic during early hours in the morning. So, we started at 3AM in the morning from Bangalore. After a long ride of 3hrs, We are almost dried up!!. Sometimes, it only needs a push to awaken your energy remain infectious. It was the aroma of wild coffee beans gave me an adrenaline rush throughout indicating that we are near to our destination.</p>
<h3 align="center" >Much love from the Road  ❤️ </h3>
<p>Smiles flashed across our faces as we saw large estates of coffee plantations everywhere within reach of eyesight. I could see a few groups of people dressed in head wraps, long boots and with a bin on their backs. Their attire speaks volumes about their passion for the profession. Being enthusiastic we dressed up like them. Being a part of someone’s profession is a way of complimenting them, we made the same gesture that made our day.</p>
<img src="/images/coffee_estates.png" class="img-responsive" alt="Coffee estates in coorg">
<p>Classic Coorg coffee is one of the most exported coffee brands in India known for its heartthrob aroma. I cannot forget about the way we became childish to have a sip of great coffee that land offers us, it’s a perfect start. Not even 12 years old wine could give a feel that the coffee gave us. With that enthusiasm we hit the ground. I am literally on cloud nine watching land filled with greenery everywhere.</p> 
<blockquote>Two things can never change in this world: One is the pleasure of watching a girl with a  beautiful smile over her face the other is catching a glimpse of fog filled mountains.</blockquote>
<p>It is an immense ornament of mother earth who gave us the best with a splendid display of blue sky and the cool breeze spreading our souls. Having an early morning ride with your bestie is the best thing one could ask for.</p>
<p>We’re welcomed with beauty of Cauvery River taking leaps and bounds into the valley. I loved the way fog has spread across the mountains. This is the best ride we had ever. We rode nearly 45 km and reached Madikeri. The natural splendor gave us a feeling that we were not in Madikeri. I think this is the reason why it is known as Scotland of India, it’s a true paradise on the earth.</p>
<h3>Places to visit in Coorg</h3>
<p>While entering through the city circle, we found a Coorg tourism map at the Emperor Coorg restaurant. This became our road map for our Coorg road trip.</p>
<img src="/images/coorg_roadmap.jpg" class="img-responsive" alt="coorg road map">
<p>It is believed that in 30 min we can meet about 20 different region people here on an average. We can see it’s raining most of the day which makes this place an exceptional beauty for the tourists and travelers. </p>
<h3>Homestay in Coorg</h3>
<p>There are many backwater resorts, budget resorts, Coffee Estate homestays in Coorg. After a long search, we were managed to find a Coffee Estate Stay in Coorg on <a href="https://www.airbnb.co.in/rooms/24340422?location=Coorg" target="_blank">AIRBNB</a>. With fellow travelers, we booked the homestay. Have a look  at it. Thanks to <a href="https://www.airbnb.co.in/" target="_blank">Airbnb</a>.</p>
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" width="700" height="400" src="https://www.youtube.com/embed/bQnpb05D5Ec" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </div>
<h3>Things to do in Coorg</h3>
<p>Coorg is not only known for its coffee, but it also offers a natural elephant safari which is extremely incredible and adrenaline rushing adventures.<ol>
<li>Enjoy the <b>Coffee Estate Homestay</b></li>	
<li>Thrive your adrelina with <b>White water rafting</b></li>
<li><b>Dubare Elephant safari ride</b> gives you a wild exposure</li>
<li>Enjoy <b>Quad bike riding</b> near the shores of the Cauvery river</li>
<li>A Visit to <b>Tibetan Golden Temple</b></li>
</ol></p>
<img src="/images/quadbike.png" class="img-responsive" alt="quadbike in coorg">
<h3>How to reach Coorg :</h3>
<p><b>By Air:</b> Nearest airports are Mangalore and Bangalore. After that you can take a bus or taxi to Coorg directly.</p>
<p><b>By Train:</b> The nearest railway stations are Mysore(95 km), Mangalore (135 km). By hiring a vehicle you can reach Coorg.</p>
<p><b>By Bus:</b> Coorg is well connected with the cities like Mysore (118 km), Bangalore (255 km) and Mangalore (139 km).You can hire taxis as well as state buses to reach from these cities. But the Road trip to Coorg is the most anticipated one 😋. KSRTC (Karnataka State Road Transport Corporation) runs deluxe buses from Bangalore, Mysore and Mangalore to Coorg.</p>
<p>Coorg offers Panoramic landscapes, breathe taking valleys, heartthrob aroma of coffee plantations, adrenaline rushing adventures. It also has a great taste of Coorg wine, the stunning performance of guides who can speak fluently in foreign languages, Coorg chicken a famous local recipe. Home stay near the river bank of Cauvery but for intense striving hardcore travelers like us forest stay with a camp fire gave us the real taste of moments in making the coorg trip experience memorable.<b> INCREDIBLE INDIA!!!!</b></p>
<img src="/images/abbeyfalls.png" class="img-responsive" alt="abbey water falls in coorg">
<p><b>Do you have some other wonderful ways to keep your Coorg trip effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
<p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
<h4 align="center" style="color:#0278AE "><b>#PlacesofIndia</b></h4>