+++
date = "2018-04-20T11:52:59+05:30"
title = "Maa Bamleshwari Devi Temple Dongargarh - Ropeway ride"
url = "/maa-bamleshwari-devi-temple-dongargarh/"
description   = """Ardent devotees of Maa Durga must visit the Maa Bamleshwari Devi temple, as a symbol of religious faith and devotion."""
banner = "https://www.thebackpackdiaries.in/images/ropeway.jpg"
bgimage = "/images/maabamleswaridevi.jpg"
+++

<p><b>T</b>he hill temple of Maa Bamleshwari Devi Dongargarh is a symbol of religious faith and devotion. Ardent devotees of Maa Durga must visit the Maa Bamleshwari Devi temple. It is often called a Kamakhya Devi temple by the historians.</p>
<p>As Dongargarh railway station is on the Mumbai - Howrah mainline, so the frequency of trains is more. From Raipur railway station we boarded the train to dongargarh at 6:45 AM. It is of nearly 2-hour journey from Raipur by rail. There are many ways to reach dongargarh by road, rail and air.</p>
<img src="/images/Dongargarh.jpg" class="img-responsive" alt="View of Dongargarh railway station">
<p>We reached there by 8:45 AM. Even though it’s still before 9 o’clock in the morning, it’s too sunny out there. We came out of the station and checked for the directions to navigate. Distance from Dongargarh railway station to Maa Bamleshwari Devi temple is nearly 1.5 Kms. We continued to move by foot to the temple, it’s like a treasure hunt.</p>
<p>We came across many shops who sell all the pooja items. Try to park your vehicles in nearby shops and also make sure you park them near to the ropeway starting point so that it could be easy to get it while you return.</p>
<blockquote><b>Dongargarh has derived its name from two words-‘Dongar’ meaning ‘mountains’ and ‘Garh’ meaning ‘Fort.’</b></blockquote>
<p>The hill is seen in the form of boulders which makes it challenging to climb. To reach the temple on the hill, you can either by climbing roughly 1100 steps or simply take the ropeway. Dongargarh temple ropeway is very popular with the tourists as it is the only ropeway that has been set up in Chhattisgarh state. This is one of the major attractions that should not be missed in Dongargarh. Irrespective of the crowded queues maximum devotees prefer ropeway. You can expect a huge crowd during the holidays and Navratri season.</p>
<img src="/images/ropeway.jpg" class="img-responsive" alt="View of ropeway at dongargarh">
<p>If you want to explore every inch, I would recommend you to take steps one side and you can end up taking ropeway ride the other side. Ropeway ride from the hill temple to the ground is the major part and one should not miss it as you get awesome views. The ride takes about 10 min to one side. It consists of 8 cabins, 4 on each side runs Oppositely. About 16 pilgrims can go for darshan in a single ride. We were charged nearly 100 rs for a 2-way ride.</p>
<p>We couldn’t resist our enthusiasm and passion for exploring the hill temple till the ropeway arrived. So we started to climb the steps and we decided to experience the ropeway on the other way.</p>
<p>On the left side of this temple, there are huge boulders which are challenging to climb. The highway and railway station are seen from the top of these boulders. On the right side of the steps, steer inclined and dense trail will reach in an open valley which further leads to the defragmented shaped of the huge boulders. These boulders get connected on the way to reach the top of the hill. These boulders are of different size and shapes made up of hard rocks reminded my trekking expedition to <a href="/hampi-road-trip-exploring-the-lost-empire/" target="_blank">Hampi</a>. And these made me pack my backpack and brought me up here.</p>
<p>We managed to get on to the top within an hour. You need to climb another 175 steps for the darshan even after reaching the top of the hill in either of the ways.</p>
<img src="/images/bandans.jpg" class="img-responsive" alt=" Steps View from the ropeway point to the main temple">
<p>People worship Maa Bamleshwari Devi as a primary deity. There is a special tradition to offer red chillies with havan samagri while performing havan in this temple. As per the locals’ belief, red chillies help in overcoming enemies and evil. Hence, this ritual is performed to ensure the defeat of enemies.</p>
<p>There is a tradition of lighting Jyoti Kalash during Navratri here. To witness this great feat devotee from all around will gather here during the Navratri. The pots are made up of clay in which lamps are lighted with ghee. The lamps burn continuously during the nine days of Navratri. It is the symbolic divine presence of the goddess on earth during the period of Navratri. On the Final day, all these are immersed in the water bodies.</p>
<p>Monkeys play all along in the temple premises. The air flowing through the temples walls, heavy boulders resembling the geographic locations made serenity of the temple. The architecture of the Maa Bamleshwari Devi temple resembles the skills of architects in the ancient era.</p>
<img src="/images/Grey_langrus.jpg" class="img-responsive" alt=" Monkeys playing at the main temple">
<p>We had a very beautiful time up here. We started our way towards the ropeway. So what can you see from the ropeway? The whole view of Dongargarh at a glance and you can also get amazing views of defragmented shaped of the huge boulders. Look down and you can see some water bodies some 1500 feet below. Overall it's an unforgettable experience.</p>
<p> Here is the footage of ropeway ride.</p>
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" width="700" height="400" src="https://www.youtube.com/embed/cLDE_5uxZLA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </div>
<p>If you plan to take good pictures from the cable car, then grab one of the end positions in the cable car. Preferably the end facing downward so that you get the best possible view of Dongargarh. You will find an iron grill on either side, you have to take an unobstructed picture through that.</p> 
<h3>Maa Bamleshwari Devi Temple Timings :</h3>
<p><b>Arti Timing:</b> Morning 7 AM and Evening 7 PM</p>
<h3>Ropeway Timing : </h3>
<ol>
<li>Except Sunday Ropeway begins at 7 AM and stop at 1 PM and again start at 3 PM and stop at 7 PM </li>
<li>On Sunday and other holidays, Ropeway starts at 7 AM and stop at 7 PM </li>
<li>On Navaratri, days ropeway keeps running 24 hours </li></ol>
<blockquote><b>Best Time to Reach Dongargarh to avoid waiting for ropeway is before 9 AM</b></blockquote>
<h3>How to reach Maa Bamleshwari Devi Temple:</h3>
<p>Three modes of the transport system are available to reach Maa Bamleshwari Devi Temple Chhattisgarh.</p>
<p><b>By Road:</b> Dongargarh is located at a distance of 57 km from Rajnandgaon, 200 km from Nagpur and 109 km from Raipur.</p>
<p><b>By Train:</b> If you want to travel by train then the nearest railway station is Dongargarh. Dongargarh railway station is on the Mumbai — Howrah mainline. So you can reach dongargarh hasslefree with more frequency of trains. You can check the availability of trains from Raipur to dongargarh or trains from Nagpur to dongargarh in <a href="https://enquiry.indianrail.gov.in/mntes/" target="_blank">NTES Portal</a>. </p>
<p><b>By Fight:</b> The nearest airport is Raipur. Which is well connected to domestic flights. From there you can utilise rail or roadway to reach the temple.</p>
<h3>Best Time to Visit Maa Bamleshwari Devi Temple:</h3>
<p>Bambleshwari temple is best visited from June to December when the climate is mild and pleasant.</p>
<h3>Things to do in Dongargarh:</h3><ol>
<li>Maa Bamleshwari Temple Visit </li>
<li>Ropeway ride </li>
<li>Adventurous trek*</li></ol>
<p>This is the most unexplored and unattempted bouldering destination which can attract a lot of adventure-seeking enthusiasts. There is no previously fixed path on these boulders so one has to go with the instinct as well as with their experience. This is one of the treks known to few and is an open challenge for the adventure enthusiasts. *It is not an official trek Zone!!!! Please take proper guidance before you attempt.</p>
<p> You might have a doubt I'm saying we..we..we but who are they? This is <b>My DAD</b>. Besides his keen interest in teaching, he’s also a writer. I grew up reading his articles. He is my inspiration to start this blog. You can find his writings at <a href="https://telugu.pratilipi.com/read?id=6755373518762237" target="_blank">Pratilipi</a>.</p>
<img src="/images/duo.jpg" class="img-responsive" alt="Kasi Viswanadham Patrayudu">
<p>Maa Bamleshwari Devi temple in Dongargarh, India is a perfect devotional destination as well as adventurous too. With a tranquil and calm ambience, the surroundings of the temple make it divine areas for worship, gives you a feeling of that you might get your dreams fulfilled if you are a devotee!. The ropeway rides are pure adventurous and nature is at her most wilderform. So, what's the long wait for? Pack 'em bags and keep moving!</b></p>

<p><b>Do you have some other wonderful ways to keep your Dongargarh trip effective while on the move? Share with me in the comments below your smart ways.</b></p>
              <p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
             <h4 align="center" style="color:#0278AE "><b>#PlacesofIndia</b></h4>






