+++
date = "2018-02-04T11:52:59+05:30"
title = "Road trip to Hampi - Exploring The Lost Empire"
url = "/hampi-road-trip-exploring-the-lost-empire/"
description   = """Hampi is like walking through an open museum where a modern-era group of monuments built in the Dravidian sculptures."""
banner = "https://www.thebackpackdiaries.in/images/hampi.jpg"
bgimage = "/images/hampi2.png"
+++

<p><b>A</b>s we planned to travel to Hampi, a lot of thoughts came up. They were neither about stay nor how to reach. It was more about redrawing the history around it.</p>
<p>I intended to start by 12 AM but by the time I was up and hit the road it was around 3:30 AM from Bangalore, so I got a little traffic on the way. But nonetheless the drive was awesome and I was at Hampi by 9:30 AM. The route I took was via NH 44. Barring a stretch of 70 KMs I found a bit difficult with the navigation, the rest of the route was amazing and was also pretty scenic towards the end of the journey. The excitement increased as I reached closer to the destination. I arrived in Hospet town after a six-hour ride, nearly about 350 km from Bangalore.</p>
<p>It’d be a better plan to stay at Hampi or Hospet. As most of them suggest staying at Hospet as there are not many luxurious stays at Hampi. But if you are on a backpacker budget, there are numerous quirky hotels/ hostels at Hampi. There Mr. Vasu Vankam my dearest uncle received me and looked after my accommodation.</p>
<p> After a quick refreshment, Arjun and I hit the road to Hampi which is 13 km far. I met Arjun for the first time, this is our first interaction but didn't seem to be in that way. Within the time we became brothers shared everything from the seat of the bike to the sip of the beer 🍻!!!</p>
<img src="/images/arjun.jpg" class="img-responsive" alt="View from inside the temple at Hampi">
<p><b>Hampi — a UNESCO World Heritage site and many efforts have been taken to restore the lost glory of the place.</b></p>
<p>The sights and sounds of Hampi were immediately engaging. Narrow streets where cows wandered, mixed with children playing amongst the colourful buildings and women in groups drinking chai. I was already enchanted by Hampi. For a traveler like me, entering this town is as good as being a kid in a toy store where he is lost in the excitement of actually wondering where to go next and what to choose. Imagine yourself in a town — where irrespective of the road you take or the turn you make, you end up in front of a historical treasure — waiting and beckoning you to enter and discover more simply it’s a backpacker’s paradise.</p>
<p>We Started exploring Hampi in depth. It is like walking through an open museum where a modern-era group of monuments built in the Dravidian sculptures all along the walls of temples, ancient market streets, ruins of palaces and boulder-strewn hills. We passed Virupaksha Temple, the stunning Hindu temple dedicated to Vishnu and Shiva, a centerpiece of the town has the Dravidian style architecture.</p>
<p>The best thing to unveil the architectural beauty is to get a two-wheeler for rent, else you have to end up walking for miles in the intense heat under deep blue skies. We stumbled across stunning ancient ruins and beautiful natural phenomenon as each and every inch of Hampi has architectural ruins!!! I felt the beauty of Hampi architecture.</p>
<img src="/images/hampi3.png" class="img-responsive" alt="Virupaksha temple at Hampi">
<p>Inspired by the quote:</p>
<blockquote><b>“If ur born poor, it's not your mistake, BUT if u die poor, it's your mistake”</b><cite>-BILL GATES</cite></blockquote>
<p>What I feel is about traveling is:</p>
<blockquote><b>“If you start solo, it’s not your mistake, BUT if you end up solo, it’s your mistake”</b><cite>-The Backpack Diaries</cite></blockquote>
<p>In the part of our journey, I met fellow travelers from various countries exchanged our views. After an exhausting and enlightening day, we got back and retired for the evenings and shared our thoughts with a pint beer during our camping stay, a great place to meet people making the destination perfect for a traveler.</p>
<img src="/images/travelers.jpg" class="img-responsive" alt="Travelers at hampi">
<br>
<p>Here are the few things we have enlisted to do in Hampi.</p>
<h3><b>1. </b>Go see the rural side of Hampi:</h3><p><b>On Bicycle:</b> Cycling is the one of the sport you find here, where you can rent a bicycle in Hampi with a charge of 150–200 rs for a day and riding a bicycle you near the fields, lakes visit all the monuments within the range is unimaginable. </p>
<p><b>On Moped: </b>If you think of moped  you have to book a one day prior, for moped it costs around 400–500 per day.</p> 
<p><b>On Auto: </b>If you think of auto it costs around 750 per day.</p>
<p><b>"Start early in the morning so you can cover as many places before sunset."</b></p>
<h3><b>2. </b>Visit the lesser known ruins:</h3> <p>With a kickstart ride, we tried to cover each and every place. Hampi route map helped us which I found on the <a href="http://hampi.in/3-day-hampi-itinerary" target="_blank"></i>gohampi</a> website which made our Hampi sightseeing easier.<ol>
<li>Virupaksha Temple </li>
<li>Vithala Temple </li>
<li>Anjaneya Hill</li>
<li>Monkey Temple</li>
<li>Hemakuta Hill Temple</li>
<li>Hampi Bazaar</li>
</ol></p>
<img src="/images/ruins.jpg" class="img-responsive" alt="architectural ruins of hampi">
<h3><b>3. </b>Get a guide to know the lesser known facts:</h3><p>Many local guides offer to take you through the entire temple premises. We couldn’t say no to one of the guides as the stunning performance of guides who can speak fluently in foreign languages, Dammm Inspiring!!! I hardly listened to him because his accent was enterprising and convincing made me a surprise. </p>
<p>Basically, when we meet someone who speaks many languages fluently, the first reaction is often one of slight bafflement. The guy we met speaks nearly 5 foreign languages in 10 different accents. OMG!!!!!
Knowing the history and observing each carving and the principle and reason why a particular carving design was used — all of that helped us take in everything with a perspective. Nothing was left to assumptions. We enjoyed that.</p>
<h3><b>4. </b>Indulge in some bouldering:</h3><p>Hampi apart from its historic architectural ruins, its an internationally known bouldering destination which attracts a lot of adventure-seeking enthusiasts and offers a lot of beautiful and photogenic boulders. Its better to start early in the morning as time goes up the climate doesn't support to perform such activities and these are just minutes away from the main temples.</p>
<img src="/images/boulders.jpg" class="img-responsive" alt="View from a hilltop in the hampi">
<h3><b>5. </b>Relax near the Tungabhadra river :</h3><p> Tungabhadra river gives you a pleasant day, you can spend a day watching the cool ambient flow of water with a cool breeze around. Most likely people come to here to rejuvenate themselves.</p>
<h3><b>6. </b>Watch the sunset :</h3><p>Hampi sunset point is a perfect place you can feel the setting sun. Around 6 pm, we decided to to make our way to the Sunset Point finally. This is what people come all the way up here for! It was just a few steps away from where we were and so we walked and secured a spot for all of us to watch the sunset.</p>
<p>As we waited, we clicked numerous pictures, went live on Instagram, all the while taking in the magnanimity of the moment. For about half an hour, we stayed there, watching the sun slowly rest for the day. And at around 6.30 pm, when it started, we all just shut up and watched in awe.</p>
<img src="/images/sunset.jpg" class="img-responsive" alt="View from sunset point at Hampi">
<h3><b>7. </b>Go Coracle ride across the river:</h3><p>The experience really kicks ass. That coracle is a thing used for transportation locally try this once it’s a fun ride paying 50 rs per person.</p>
<img src="/images/coacle.jpg" class="img-responsive" alt="Coracle ride on the way to hippie island hampi">
<h3><b>8. </b>Go-River side the hippie island!</h3><p>Hip hip hurray…We crossed the river in a boat to the opposite bank was a world in itself! When you enter to hippie island you will see very beautiful endless green fields on one side, on the other side so many cafes around, ambiance was different here. Most of the cafe doesn’t even serve south Indian food. We spent some quality time with English breakfast, scenic views of river, meditative music. One can take some spa and join yoga here. Most of the people who come for many days, stays here. The home-stays, guest houses, people and restaurants all added to make the place feel the way it did.</p>
<h3><b>9. </b>Enjoy the colourful evening at Tungabhadra dam </h3><p>We took the bus up the scenic mountain and walked to the top of the dam for fantastic views then explored the nearby garden in the evening. It was surprising to look up as we enjoyed the surroundings especially the musical fountain that blinks with colourful lights, other worthy attractions in the area. It’s one of the beautiful places one have to see before they leave from Hampi. Finally, an evening at Tungabhadra Dam gave our journey an end.</p>
<img src="/images/dam.jpg" class="img-responsive" alt="View from thungabhadra dam">
<h3>How to reach Hampi:</h3>
<p><b>By Air:</b> Nearest airports are Hubli and Bangalore, after that you can take train or bus or taxi to Hampi directly.</p>
<p><b>By Train:</b> The train is the best and cheapest way to reach Hampi. The nearest railway station is Hospet, by hiring a vehicle you can reach Hampi.</p>
<p><b>By Bus:</b> Hampi is connected to all major stations like Pune, Bangalore, you will get a direct bus to Hospet. But The Road trip to Hampi is the most anticipated one 😋 .</p>
<p>I don’t know by that time we met, Arjun will be my brother!!! Hampi tour gave a brother from another mother!!! There <b>Mr. Vasu Vankam </b> Sir, without you this would be a daydream. Thanks, aunty for the mouthwatering local recipes.</p>
<img src="/images/vasu.jpg" class="img-responsive" alt="View from thungabhadra dam">
<p><b>Do you have some other wonderful ways to keep your Hampi trip effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
<p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <h4 align="center" style="color:#0278AE "><b>#MonumentsofIndia</b></h4>