+++
date = "2019-01-31T11:52:59+05:30"
title = "10 Places to fall in Love with Jaipur"
url = "/backpacking-trip-to-jaipur-rajasthan/"
description   = """Jaipur is famous for lots of forts, palaces, and monuments around the city remind us the great Rajputs contribution to arts and architecture."""
banner = "https://www.thebackpackdiaries.in/images/hawamahal.jpg"
bgimage = "/images/hawamahal.jpg"
+++

<p><b>T</b>his is the Second halt in my Golden triangle tourist circuit and first halt in my Solo Backpacking trip to Rajasthan...</p>
<h2>Jaipur</h2>
<p>Jaipur, known as the Pink City is the Capital of Rajasthan and the largest in the state. It is one of the most important tourist's city and is a part of the Golden Triangle tourist circuit. Jaipur is very friendly to Backpackers and is very cheap in terms of food and transportation, the entire city is well connected by the public transport system.</p>
<p><b>Day:3</b></p> 
<h3>Reaching Jaipur:</h3>
<p>It's just 4 hrs journey from Agra, so caught a train at Agra Cantt Station to Jaipur. Arrived at midnight around 2 AM at Jaipur railway station. <a href="https://www.moustachehostel.com/" target="_blank">Moustache hostel</a>in Jaipur was few km away from the station, so I decided to book ola bike cheap & best. And the hostel was 20 minutes ride from the station( I don't want to get lost as I did at Taj).</p>
<p>The fear of getting lost at <a href="/agra-solo-backpacking-trip/" target="_blank">agra</a> still haunts me somewhere!!! The hostel incharge kind-heartedly allowed me to stay in the hall area until I could occupy my bed during my check-in time. Had a little chat with him in person. Exchanged our thoughts and that little chat has influenced my entire trip. Took some sleep on the terrace!. After a nice nap, refreshed and started taking a food tour on the roads of Jaipur on my way for breakfast.</p>
<p>Jaipur route map helped me which I got at the Moustache hostel made my sightseeing easier. Rented a bike and with a kickstart ride, I've decided to cover each and every place. After seeing the route map, I 've tailored a route plan. Everything was checked out, and wheels started rolling on the ground!</p>
<h4>1. Nahargarh Fort</h4>
<p>Google maps!! It suggested me the old way to reach Nahargarh Fort from my location. It is completely uphill. Maybe it was designed for horses or so in those days. It has been barely in use now,sometimes just by locals only. This is the easiest way to reach this fort but the most dangerous one and adventures one. The old road ended at a gate near the sunrise point. It took me 15 mins to reach the entrance.</p>
<img src="/images/old_route_nahargarh_fort.png" class="img-responsive" alt="the old route to nahargarh fort">
<p><b>Ps:</b> You won't find any mechanical or medical support in this way if you get into trouble. I suggest you avoid it unless you are ok with it.</p>
<p>The first thing that caught my attention was the mighty walls of Nahargarh fort, one can see the long walls spread around the fort in all directions.</p>
<p>With a little chat with the locals on my way, I learned that these three forts, i.e. Nahargarh Fort, Jaigarh Fort, and Amber Fort are built to safeguard the Amer kingdom. Where Nahargarh fort lies on the top acted as the first line of defence, and next Jaigarh fort on the upper hills served as an armour reserve while Amber lies at the lower part. We can see the fort walls extended in all directions protecting the kingdom.</p>
<img src="/images/Cannon_nahargarh_fort.jpg" class="img-responsive" alt="Cannon at nahargarh fort">
<p>On the one hand with the Cannons and other armory filled in the courtyards and fort walls give us a view about the Rajput era upon reaching the leading flooring. On the other hand, it is completely filled with Cultural performances, puppet shows everywhere. I can feel the Rajasthani culture in the air. One can get a spectacular view of Jaipur city spread beyond in the valley from the top.</p>
<h4>2. Jaigarh Fort: </h4>
<p> Jaigarh Fort is a massive shell that possessed artillery and military reserves. Walked all around its grounds which provided vantage views of mighty watchtowers, stretched walls are visible for miles spread all around the green hills. Such a delightful place!</p>
<p>In the past with foresight, this fort is constructed as a shield to protect Amber Fort. This place built in North-South direction bearing the best perspective on Amer to offer. <b>Jaivana cannon</b>- the world's largest cannon is the main attraction of this site. It is said that this ordinance was utilized just once but according to the locals, not only it destroyed the area that was there at the time, but also the future life as the next generation of the natives are born handicapped.</p>
<img src="/images/largest_canon_ jaigarh_fort.png" class="img-responsive" alt="largest cannon at  jaigarh fort.png">
<p>There is a museum in the Jaigarh Fort which exhibits the armory, and various other antiques. There is a link path between Jaigarh Fort to Amer fort walkway which has been used in times of emergency as an escape plan.</p>
<h4>3. Amer Fort: </h4>
<p>Amer Fort is constructed by the combination of Hindu Rajput and the Islamic Mughal architecture styles. It is also a listed world heritage site.</p>
<img src="/images/Amber_fort_rajasthan.png" class="img-responsive" alt="Amber fort in rajasthan">
<p>It is 10 km from Jaipur, and it's actually a palace and not a fort. There are two options to reach the gigantic Amer Fort. 1. Walk or 2. The Royal Elephant Ride. The hike up above the palace is quite an adventure and with vintage cars, local vendors, colourful umbrellas and elephants, it only becomes all the more fabulous! Plus, the views from up above are inspiring. The doors of the temple are open to everyone, and entrance costs to it are nothing, though you must also see the palace, it's beyond all expectations.</p>
<p><b>Amer Fort Timing:</b> The Amer Fort opens at 8 AM. It's best to reach the elephant stand around 7.30 AM.</p>
<h4>4. Stepwell - Panna Meena Ka Kund</h4>
<p>While you're out visiting Amer Fort, check out the Panna Meena Ka Kund Stepwell. There are a bunch of stepwells scattered around India. Historically, they were religious sites or places of meditation in addition to bathing and drinking spots.</p>
<p>The stepwells are rectangular-shaped wells with steps going downward. They're also great places for photos, though you might have to pay the guard if you want to go down the steps towards the well. Also, use caution when walking down the steps because it's not particularly safe and the well is supposedly very deep.</p>
<img src="/images/Amer_panna_meena_ka_kund_jaipur.png" class="img-responsive" alt="stepwell panna meena ka kund near amber fort in jaipur">
<p><b>Tip:</b> If you want to take photos down the stepwell, please do take permission in the Amer Fort before-hand.</p>
<h4>5. Jal Mahal:</h4>
<p>One of the few great pastimes when in the city, Jal Mahal, located in Mansagar Lake is a lovely affair. It was the middle of the day, and the sun was searing hot as I went around. So couldn't enjoy its beauty much.</p>
<p>You can also get traditionally dressed up and enjoy several individual photographic shots and get your favorite copy printed in around 10 minutes for just INR 100 per copy. (<b>Pc:</b> Hamara Dilbar bhai )</p>
<img src="/images/Jalmahal.png" class="img-responsive" alt="traditionally dressed up and enjoying several individual photographic shots at Jalmahal">
<h4>6. Hawa Mahal:</h4>
<p>Hawa Mahal is also called as <b>Palace of Winds</b> and <b>Palace of the Breeze</b>. The entire building is also constructed by the combination of Hindu Rajput and the Islamic Mughal architecture styles. The amazing structural design of this five-story pyramidal shaped palace lures the attention of national as well as international visitors. Domed Canopies, Lotus and Floral Patterns on the walls and Fluted Pillars are built in rich Rajput architecture style. The skillful inlay filigree work of stones on the walls are decorated & designed according to the Islamic style.</p>
<blockquote><b>“Jaipur is the finest jewelry ever created on earth, where king was the jeweler and bricks his gems.”- <cite>Vinita Kinra</cite></b></blockquote>
<p>Inside it is like an open Air conditioner. I felt the name was apt! Every piece of the monument has been sculptured to a great precision which exhibits the skills and craftsmanship in Rajput architecture. It has been more than 200 years old serving as an emblem of the pink city! It's one of the most iconic as well as landmark tourist attractions of Jaipur.</p>
<p>To get a perfect shot of Hawa Mahal, I had to visit The Tattoo Cafe - a Cafe right in front of the Palace of Winds, bought a cold coffee(nothing is free), reached the rooftop to get a complete picture. I spent nearly 300+ rs for a perfect shot of Hawa Mahal.(Mine was an exception though!)</p>
<img src="/images/ratnakar_hawamahal.png" class="img-responsive" alt="Selfie at hawamahal">
<p><b>Hawa Mahal Timings</b> - Daily 9 AM to 4:30 PM.</p>
<p><b>Entry fees</b> - Rs 50/- for Indians and Rs 200/- for foreigners.</p>
<p>After a quick lunch at roadside dhaba immediately started to City Palace.</p>
<h4>7. City Palace:</h4> 
<p>Jaipur City Palace is a royal abode; the residence of Jaipur royalty. Best time to visit the city palace is post lunch, you don't have to walk around much. It was the seat of the Maharaja of Jaipur for years, and even today the royal family resides there. Composite ticket doesn't work here, and a separate ticket must be issued.</p>
<p>The palace complex consists of two mahals: Chandra Mahal and Mubarak Mahal. As we entered the palace complex, we were welcomed to the Mubarak Mahal. It is a museum where the royal clothing and armory of the Maharajas are exhibited. One can also purchase antique royal collections from here.</p>
<img src="/images/citypalace_jaipur.png" class="img-responsive" alt="view of city palace at jaipur">
<p>Its almost the setting sun came into the scene. Took a U-turn to the market to explore the desi lifestyle.</p>
<h4>8. Spree in the local markets:</h4> 
<p>The local economy of the city widely depends on handicrafts, handmade shoes, and great textiles, all for reasonable prices and unmatched quality. So, chuck yourself out from the bed for all the extra time and hit the city streets for an otherworldly shopping experience. Searched to buy a few hand made bangles made of lac which I saw on social media. Left with no luck returned with empty hands.</p>
<p>There are also other places which I left back are - <b>Albert Hall</b>, <b>Jantar Mantar</b>, and <b>Galti Ji- Monkey Temple.</b></p>
<p>Throughout Jaipur, I was trying to buy a <a href="https://en.wikipedia.org/wiki/Pagri_(turban)#Rajasthani_Pagari" target="_blank">"Rajasthani Pagari"</a> but couldn't able to do it here, hope I'll find it sooner. I checked into the hostel at night. After a day-long drive just collapsed over the bed.</p>

<h3>Things to do in Jaipur</h3><ol>
<li>Watch Sunrise/Sunset at Nahargarh Fort.</li>
<li>Try the link path between Jaigarh Fort to Amber fort walkway.</li>
<li>Try Elephant ride at Amber Fort.</li>
<li>Get a clear picture of Hawa Mahal from the rooftop restaurant right in front of it.</li>
<li>Purchase the traditional Rajasthani merchandise from a local bazaar.</li>
<li>Watch light show at Albert hall museum.</li>
<li>Watch a classic at <a href="http://therajmandir.com/" target="_blank">"RajMandir Cinema hall."</a></li></ol>
<img src="/images/elephant_ride_amberfort.png" class="img-responsive" alt="elephant ride at amberfort in jaipur.png">
<h3>Foods to try in Jaipur:</h3><ol>
<li>Try Spicy pyazz kachori at Rawat Kachori.</li>
<li>Grab a long glass of Malai lassi from Lassiwala - be aware of dummy's!</li>
<li>Try South Indian Filter kaapi (coffee) along with dosas and idly at Indian Coffee house.</li></ol>
<p><b>Quick tip:</b><ol>
<li> If you have a Student ID, you can prevail the student discount at all the entries throughout Rajasthan.</li> 
<li> You can avail a composite ticket for Amber Palace, Nahargarh Fort, Jantar Mantar, and Hawa Mahal. It's a good deal.</li></ol></p>
<h3>How to reach Jaipur:</h3>
<p>The Pink city Jaipur is a mirror reflection of the royal Rajput heritage and it is approximately 250 km away from Delhi and 225 km from Agra. It is well connected to all major cities through every possible means of transport.</p>
<p><ol><li><b>By Air:</b> Sanganer Airport is Jaipur's international airport which is not so far from the main city, that offer direct flights to all major cities across India and few from international even.</li>
<li><b>By Train:</b> This is the best, cheapest and the most recommended mode of transportation to reach Jaipur. The nearest railway station is Jaipur station from there by hiring a vehicle you can reach Hawa Mahal and other places.</li>
<li><b>By Road:</b> Jaipur is connected to all major stations from different cities, you will get a direct bus to Jaipur as it is a part of the Golden Travel Circuit which includes Delhi and Agra.</li></ol></p>
<h3>Best time to visit Jaipur:</h3>
<p>All year round but October - March is best as weather will be excellent in Jaipur in these months.</p>
<p>The Royalty of Rajputs can be felt all around Jaipur. Jaipur is famous for lots of forts, palaces, and monuments around the city remind us of the great Rajputs who contributed a lot to arts and architecture. One who has a passion for history, art, and architecture, these are great places to explore.</p>
<p>Initially, I planned to complete the <a href="https://www.independent.co.uk/travel/asia/the-complete-guide-to-indias-golden-triangle-434773.html" target="_blank">"Golden Triangle tourist circuit"</a> and return back, but after going all over through Jaipur, I fell in love with the Rajasthan culture, architecture, and food! and decided to go on a solo backpacking trip to Rajasthan.</p>
<p>Next day early in the morning, I'm heading to Jaipur Rly.station. Next place on my wanderer list? I was heading to Ajmer/ Pushkar for the next day!</p>

<p><b>Do you have some other wonderful ways to keep your travel effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
              <p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <h4 align="center" style="color:#0278AE "><b>#RangeeloRajasthan</b></h4>