+++
date = "2018-01-05T11:52:59+05:30"
title = "Alukhasa - Kharagpur railway station special"
url = "/alukhasa-kharagpur-railway-station-special/"
description   = """Early in the morning,that spicy aroma smells appetising as soon as train halted at Kharagpur station."""
banner = "https://www.thebackpackdiaries.in/images/alukhasa.png"
bgimage = "/images/alukhasa.png"
+++

<p><b>Y</b>ou must be a big foodie if you have ever travelled to someplace just to eat the food that you get there. It is the inherent quality of a foodie, one can travel to anywhere just to taste the special one.</p>
<p>But have you ever considered travelling on the train just to eat the food that you like on certain railway stations? If not, you must plan soon, and here’s one of the famous dish found at the famous railway station. This is my journey which I have traveled just to taste a plate of ALOO Khasa.</p>
<p>Early in the morning, that spicy aroma smells appetising as soon as the train halted at Kharagpur station, with a quick jump I rushed to the nearest vendor on the platform serving a particular dish.</p>
<p>Aloo khasa is a famous dish made with small size boiled potatoes dipped in red chilli sauce. It was hard to find one for us in the huge crowd and even it was hard to try another. Kharagpur railway platform holds the record of worlds third longest platform in the world with 1072.5mts.</p>
<img src="/images/kgp.jpeg" class="img-responsive" alt="Kharagpur railway platform">
<p>We were surprised at the number of people from the halting trains that visited this place every day, so we gave it a shot.</p>
<blockquote>But nevertheless, this place is like a heaven for foodies to taste the new variety and would recommend it to anyone and everyone who is travelling via Kharagpur station for quick takeout. </blockquote>
<p>The best way to explore the new experience is to order them and taste. The ingredients are rich but not greasy; you won’t need to loosen your belt after. But you need to carry coke to manage spiciness. Typically Indian gravies tend to combine too many spices, taking your taste buds for a spin. It’s refreshing to see spicy hot Aloo khasa stealing the spotlight with its appearance and grabbing the attention with its aroma.</p>
<img src="/images/people.jpg" class="img-responsive" alt="The crowd at Kharagpur railway station">
<p>As soon as the vendor handed me the plate of aloo khasa, I took a piece quickly and tried to eat immediately, as I started to eat my first piece water rolled out of my eyes, nose because of that spiciness. But the taste was superb. Meanwhile, the train has given the signal, my mind was still at the vendor store. Due to the time limitation, I was hardly able to get one more plate and boarded the train.</p>
<p>The cartage is on the platform handling a huge crowd and the music is quite loud, but the food and service are both good. Prices are very reasonable. This is worthwhile visiting.</p>
<p>I have been to many places in the past and each of them has a different story to tell.
From my experience, I can say that I have come across a variety of food & places in my journey, but very few of them actually have a “<b>life</b>” in them. Yes, it does sound absurd but you need to experience to believe it.<b> INCREDIBLE INDIA!!!!</b></p>
<p><b>Do you have some other wonderful ways to keep your Kharagpur trip effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
<p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <h4 align="center" style="color:#0278AE "><b>#FlavoursofIndia</b></h4>