+++
date = "2018-08-16T11:52:59+05:30"
title = "Papikondalu Night stay - Kolluru Huts"
url = "/kolluruhuts-papikondalu-nightstay/"
description   = """Experience the nature with no network connectivity, leaving behind all the stress away from the hustle & bustle metro cities at kolluru night stay."""
banner = "https://www.thebackpackdiaries.in/images/kolluru_huts.jpg"
bgimage = "/images/kolluru_huts.jpg"
+++

<p><b>T</b>he Godavari is one of the longest river flowing across the states in the south, surrounded by Papikondalu. Papikondalu boat ride is one of the exciting journeys all along the Godavari.</p>
<p>Around 4:00 PM in the evening we reached a place, where our boat journey was about to halt. All our hearts were delighted on watching our boat sailing on the shore with the crystal clear water.</p>
<p><b>P.S:</b> This is part 2 of <a href="/rajahmundry-papikondalu-boat-ride/" target="_blank">Rajahmundry to Bhadrachalam via Papikondalu trip</a>. You can find complete tour package details and itinerary there.</p>  
<h1>Kolluru huts night stay:</h1>
<p>One must experience nature with no network connectivity around. Leaving behind all their stress away from the hustle and bustle of the metro cities. We reached our accommodation of bamboo huts on one of the hills. We met fellow tourists who joined us on the trip from various Papikondalu tour packages and operators.</p>
<p>After a bit refreshment, we decided to take a walk around the bank of a river. On reaching there we observed two of the fishermen hand rowboats. They even saw us and we asked them if we can have a ride with excitement. On enquiring fisherman, he said it would charge 150 bucks for each person on the boat. We hardly carried cash with us. We had to bargain hard as one of us had 200 bucks which were 100 bucks for each on the boat. Finally, fisherman agreed and we boarded the boat.</p>
<img src="/images/Papikondalu.png" class="img-responsive" alt="fisherman boat ride on godavari at kolluru huts">
<p>The first feeling was going into the river!!! oh my God!!!! this is freaks!!! When you face the real power of water at various levels of rapid currents, It's thrilling and adventurous. Reminded me of Bear Grylls! Please don't do such things without prior safety. We took a 15 min ride along the downstream with pants wetted. Posing and clicking a few of the pictures, we returned to our stay.</p>
<p>If you plan to take good pictures from the boat, then grab one of the end positions. Preferably the end was facing downward so that you get the best possible view of Papikondalu.</p>
<p>All are enjoying by playing volleyball, singing songs, dancing and splashing water on each other. Everyone was quivering as all were wet after splashing water on each other. The place turned intense dark and we decided to have a campfire. Everyone started collecting the dried twigs and leaves. Also, I found a matchbox and we had a campfire. The heat from the campfire had given us warmth and we all felt better.</p>
<p>After all day fun and excitement, our tummies urged for food to revitalize us. All were too much with a hunger that we did not even bother about our wet clothes. Instead, we straight away went to the place where there was a camp laid out and the food was being served. The aroma of sambar "a traditional south Indian recipe" and the fumes raising out of a huge can containing rice was heaven to us. Satisfying our hunger we returned to our bamboo stays and put on dry clothes.</p>
<p>The most common game played by Indians called "Antakshari" was performed by dividing our group in two. we had people with the surplus amount of knowledge in the entertainment world from diverse languages. The time passed soon and it was 11:00 PM and most of the people were tired and returned to their stays.</p>
<blockquote><b>Two things revolutionised life: moving to the countryside and falling in love. - <cite>Nick Love</cite> </b></blockquote>
<p>We are not in the sense of spending the night sleeping as others did and we were having fun talks. The bamboo huts are good to sleep if one is scared of the reptiles. If not one can have the pleasure of lying down on the ground and watching the sky filled with thousands of stars. Which is very a scene in the metropolitan cities? There is an intense decline in temperature with the cool breeze over the night. One must carry stuff to protect themselves from the bitter cold if they plan to experience sleeping under the bare sky.</p>

<p>It was early in the morning that we decided to take a walk around the bank of a river. On returning to the camp again we found breakfast being served and had it. Then we returned to the camp. A forest ranger took us to a 2 km trail all along the mountains and a local village to visit the place where water flows with a high stream. It's none other than "Palamaneru Waaghu." We are excited and reached the place around 8:00 AM. The water stream had the capacity to carry a person along with it. It was exciting, having fun with water and nature all around.</p>
<p>The famous food is known as "Bongulo Chicken." Which means chicken cooked in bamboo. The country chicken tastes delicious and it serves 8 pieces for 100 bugs during our visit. It's a must try if you are a non-vegetarian.</p>
<a href="https://www.instagram.com/p/BZtZ-rFBXll/"><img src="/images/bongu_chicken.jpg" class="img-responsive" alt="View of bungu chicken preparation"></a>
<p>As time passed on the scorching sun was intense and by noon we decided to return to our stay. We returned and had put on dry clothes. Then there came the time to have the last meal in the camp and leave for the boat waiting for us on the bank of the river. We finished our lunch and boarded the ferry.</p>
<img src="/images/bhadrachalam_boat.jpg" class="img-responsive" alt="View of boat hangered at kolluru bank">
<p>This time we had the privilege to play the songs and dance we wished on as we were the only group riding on it. All seemed so excited and shook their legs when fast beat songs were played. Watching the mesmerizing beauty around having a fun time with friends is the best vacation one can get.</p>
<p>From here we headed to a place called Pochavaram which is near Kunavaram. Pochavaram is the place where all the boats leave for the trip. The ride was about 1 hour to reach our second destination "Bhadrachalam." We got off the boat at Pochavaram and then boarded a traveller. It's a rough road all the way headed towards our second destination i.e. The Bhadrachalam temple.</p>
<p>The bumpy ghatti road journey for about one hour did not leave anyone of us tired. On reaching the surroundings of the temple where we had accommodation planned. During this time, the rest of the group members freshened up and visited the temple.</p>
<p>The Bhadrachalam temple's history holds a trivial role in the "Ramayana" an epic of Indian Culture. After a quick night darshanam, We left to Bus station. Our Rajahmundry to Bhadrachalam via Papikondalu trip has ended with lots of love from Godavari and Papikondalu.</p>

<h3>Rajahmundry-Bhadrachalam Boat Timings:</h3><ol>
<li><b>Bhadrachalam Boat Timings:</b> Evening from 12 PM to 5 PM.</li>
<li><b>Rajahmundry Boat Timings:</b> Evening from 12 PM to 5 PM.</li></ol>
<p><h3>Best Time to Reach Papikondalu night stay - Kolluru Huts</h3> Try to reach before 5 PM.</p>
<h3>How to reach Papikondalu night stay - Kolluru Huts:</h3>
<p>The only way is to get here is to opt a package Rajahmundry to Bhadrachalam or vice versa.</p>

<h3>Best Time to Visit Papikondalu night stay - Kolluru Huts:</h3><ol>
<li>The best time to go depends on the water levels of the river Godavari.</li>
<li>The best time to visit Papikondalu is from August - June.</li></ol>
<h3>Things to do in Papikondalu night stay - Kolluru Huts:</h3><ol>
<li>Enjoy the fisherman boat ride* </li>
<li>Sleep under the sky to experience night view </li>
<li>Try Bongu chicken</li>
<li>Trek all the way to Palamaneru Waagu</li></ol>
<p>This is the most unexplored and unattempted  destination which can attract a lot of adventure-seeking enthusiasts. There is no previously fixed path on these lands so one has to go with the instinct as well as with their experience. Palamaneru waagu trek is one of the treks known to few and is an open challenge for the adventure enthusiasts. *It is not an official Zone!!!! Please take proper guidance before you attempt.</p>

<p><b>Do you have some other wonderful ways to keep your travel effective while on the move? Share with me in the comments below your smart ways.</b></p>
              <p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
             <h4 align="center" style="color:#0278AE "><b>#PlacesofIndia</b></h4>






