+++
date = "2018-03-12T11:52:59+05:30"
title = "Muthyala Maduvu- Trek to the Pearl Valley"
url = "/muthyala-maduvu-trek-pearl-valley-bangalore/"
description   = """Situated deep in the heart of hills in a secluded valley, Muthyala Maduvu falls makes an adventurous trekking spot."""
banner = "https://www.thebackpackdiaries.in/images/muthyalamaduvuwaterfall.jpg"
bgimage = "/images/muthyalamaduvuview.jpg"
+++
<p><b>E</b>arly in the morning at 3 o’clock my phone is ringing. <i>“Le Magga!!! Wake Up da, bega ready aago Thalaiva Movie anthe hordona”</i> Nithin expressed his excitement over the call. Locals in and around Bangalore will have good linguistic abilities and command over all south Indian languages. Being a native this fellow sometimes his complete sentence would be a mixture😋, the above one is a good example.</p>

<p>For a sec, I rewinded what he said over the call (translation😬). Unknown excitement hit me as soon as I realised that we are going to a drive to watch Thalaiva movie.</p>
<p>Nothing is fascinating than celebrating Holi at Mathura or Watching Superstar Thalaiva movie in Tamil Nadu on the release date. We hit the road by 4:00 AM sharp via electronic city flyover,bangalore. We came to the outskirts of Karnataka and Tamilnadu borders. Here is the footage of our drive.</p>
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item"  width="700" height="400" src="https://www.youtube.com/embed/ni0RLyZByEo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen"></iframe>
 </div>
<p>The ride was decent enough. It is around 45 km from Bangalore city. Anekal, it’s a popular place among the locals. Good parking space is available. For the first time watching Thalaiva movie in Tamil Nadu that too benefit show wow!! I’m super excited. Now our soup boys entered the scene. Akarsh, Bharath, Yashwanth, Umesh and Prakash. These guys are classmates. We had a mutual intro. Show completed by 9 AM.</p>
<img src="/images/nitingang.jpg" class="img-responsive" alt="Group pic at KSTDC ">
<p><i>“Maccha I missed you in the <a href="/coorg-the-scotland-of-south/" target="_blank">Coorg road trip,</a>”</i> I said to Nitin. <i> “Now let's have a ride to Muthyala Maduvu, location is near Anekal (5 km from Anekal)”</i> Yashwanth said firmly!!! Alright, let's ride to Muthyala Maduvu falls everyone sighted. First time I heard about the place Muthyala Maduvu. </p>
<h2>Muthyala Maduvu</h2>
<p>If you are Nature lover, drive from Anekal is pure bliss. Green sals, Fog covered skies, cool breeze, nature in its best form. For those who wish to escape from the busy bustling schedules to a peaceful hangout, Muthyala Maduvu would be an apt place. Situated in the heart of hills, nestled deep down in a secluded valley, Muthyala Maduvu makes a great refreshing as well as an adventurous trekking spot.</p>
<p>We entered the trekking zone. You have to descend about 400 steps to get to the falls. Could be difficult for some people while climbing back.</p>
<img src="/images/steps.jpg" class="img-responsive" alt="View from steps into the deep valley of Muthyala Maduvu">
<p>The real fun begins at this point. There is a path which runs deep into the valley, you are free to roam around and explore the place. As we went deep inside it was all new experience to us, I couldn’t believe to find a forest so close to the city limits.</p>
<p>Imagine walking in the middle of the dense forest, hearing the waterfalls cracking and silent water finding its way near your pathway… mesmerising, isn’t it? This is the beauty of <b>Muthyala Maduvu </b> popularly known as the <i>Pearl Valley</i>!! </p>
<p>The place is an epitome of serenity. This nature’s beauty has some tales attached to its admiration like tigers visiting the place to drink water, sages performing penances here for Shiva and so on. The wind describes the tranquillity of the place, soothing the mind and soul as we talk about the place here. With dense forests around, the picturesque is perfect for trekking and camping.</p>
<p>With the open forest area within the city limits, Trekking has become a major adventures sport here and made it as a most attractive destination for trekkers, allowing to trek. Just after the steps, you will find a small stream of waters which are often confused to be the main waterfall and most visitors stop here and do not go further. Areas around these streams get really crowded around noon.</p>
<img src="/images/tinywaterbodies.jpg" class="img-responsive" alt="Water bodies near waterfall in muthyala maduvu">
<p><i>Muthyala Maduvu</i> trek is one of the easiest and stunning treks around Bangalore. The initial part of the trek was mostly involved walking and exploring around in the jungle, discovering the paths of the streams. Most of the trekkers and adventure enthusiasts use the path along with the tiny water bodies that flow beside the temple.</p>
<img src="/images/muthyalamaduvuwaterfall.jpg" class="img-responsive" alt="View from muthyala maduvu waterfall">
<p>Walking further inside the jungle was one of the most amazing feelings ever. Finally, we did it. We reached the <a href="/chilika-lake-odisha/" target="_blank">waterfall.</a> Muthyala Maduvu is a multi-stage waterfall, water directly falls off a cliff on a beautiful rock formation. This waterfall wouldn’t be that great as the rock formations are a major centre of attraction here.</p>
<img src="/images/climbers.jpg" class="img-responsive" alt="Mountaineering at muthyala maduvu">
<p>The whole experience is overwhelming. During the monsoon, it would be little crowdy but winter mornings are the memorable ones 😊!!!!</p>
<p>P.S: Saftey is the primary concern at muthyala maduvu waterfall, suggested to hang out with a group rather than going single, aid will be there just in case of emergency.</p>  
<p>There is a KSTDC Restaurant over there one can relax after their trek. They offer local recipes along with beer so it would be a great meal. We have ended getting back to the restaurant from where we have started our journey. We hit back to our destinations with our heart filled with bloody satisfaction!!!!</p>
<p><b>Do you have some other wonderful ways to keep your muthyala maduvu trip effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
              <p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <h4 align="center" style="color:#0278AE "><b>#PlacesofIndia</b></h4>
