+++
date = "2018-08-15T11:52:59+05:30"
title = "Papikondalu Boat ride - Rajahmundry to Bhadrachalam"
url = "/rajahmundry-papikondalu-boat-ride/"
description   = """Riding over the Godavari river to explore the beauties of Papikondalu is a pleasant experience."""
banner = "https://www.thebackpackdiaries.in/images/Papikondaluboat.png"
bgimage = "/images/Papikondalu.png"
+++

<p><b>I</b>t's all started back in 2006 after watching Godavari movie, especially the <a href="https://youtu.be/yWnhTwJeKbQ?t=43" target="_blank">Uppongele Godavari</a> song. You know dreams and wines taste better with age, mine is 12 years old!.</p>

<p>Recently, while surfing through online regarding Ap tourism papikondalu tour package from Rajahmundry, I came across a headline stating <a href="https://www.deccanchronicle.com/nation/current-affairs/080117/polavaram-to-ground-cruises-tourist-spots-to-be-submerged.html" target="_blank">Polavaram tourist spots to be submerged Soon</a>.</p>

<p>This worried me as if I have missed this opportunity there would be no further chance. There is a now or never situation. One or the other way I decided to travel this time. I did a little homework on the package tours, which run boats from Rajahmundry to Bhadrachalam via Polavaram, passing through Papi Hills of the Eastern Ghats. And booked AP tourism papikondalu tour package from Rajahmundry</p>
<p>Finally, the day has arrived!!!</p>

<p>Weather is pleasant, the chilled breeze and the cosy riverside drive set the tone of the day. As per scheduled were dropped at the Polavaram boating point from the Rajahmundry railway station. I met Mr.Keerthi Varma on my way who has a similar passion for travelling. We tagged along for the rest of the journey..</p>

<p>Yo! It's time for the ride,bhoom…!</p>

<p>It is an air-conditioned double-decker boat which operates from Polavaram to Papi Hills and back. The boat has to cruise all its way through three districts to reach Papikondalu. A round trip of about 150 km on the Godavari takes at least nine hours. The adventure begins the moment you step in the boat, as the turbulence causes ups and downs due to flowing river water.</p>
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" width="700" height="400" src="https://www.youtube.com/embed/-etekad5IKE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </div>
<p>Especially in August - November it will be a thrilling and exciting experience. As there will be a rise in water levels that give the best boat trip experiences. It is all one side of the coin and the other side is the skill and expertise of local sailors, which makes your trip the most memorable.</p>

<p>With all the necessary gears and equipment our voyage has started. A glimpse into the villages that are passing by detailed us about the lifestyle of the communities who lived along the riverbed. You get to see those places and communities which you'd never know as they don't have roads or any other communication. They rely on solar power, satellite communication and boat transport. This is the reason you come across more boat capsizes incidents in this region.</p>

<img src="/images/pedatanivada.png" class="img-responsive" alt="View of villages near the banks of godavari">

<p>After a minimal breakfast on the boat, We rushed to the tip of the boat after convincing the driver. Within no time after breakfast, our first halt arrived. That is Gandi Pochamma temple, where we had darshan and returned back to the boat.</p>

<p>The boat staff organised a special troop to engage the people on board in cultural activities. Any of those didn't turn me up! My heart raging only to feel the real beauty of nature, while everyone is enjoying music, me standing at the entrance end enjoying the scenario. You can enter into a meditative state by standing still, feeling the soft movement of the boat and the light breeze on your face. I wanted to spend time staring at the never changing hills and the fast flowing water.</p>

<blockquote>It's a day when a seductive soul dressed with a smell of romance and pessimist paced with pounds of love. - <cite>inside_edge6</cite></blockquote>

<p>With its width and wilderness that impresses you every single time when you see, flows between the abundant lush green over the mountains and sand dunes on the banks. With every kind of weather, the Godavari changes - from gloomy and mysterious to bright colours and lively atmosphere. You get to experience the magnitude and majesty of the Godavari river itself - it's length that goes beyond the horizon.</p>
<a href="https://www.instagram.com/p/BoDOxtjFOqp/"><img src="/images/Papikondaluboat.png" class="img-responsive" alt="View of a tourist boat"></a>

<p>As it is an upstream voyage you can feel the bumpy rides more over the climate is little rainy so every single time it rains we rushed to the captain's cabin and coming out when it stops. We had our lunch and set back to the cabin point to enjoy the view. Without knowing the time dawn has already in the up sky. We reached our next halt at Perantalapalli.</p>

<p>At Perantalapalli, We saw the meeting point of Sabari river with Godavari river. People make exceptional bamboo items to make their living. They make crafted handmade objects like miniature bamboo houses, bamboo flowers, flower vases etc. We bought some and then headed to the temple.</p>
<a href="https://www.instagram.com/p/BpyHDWNBz6B/"><img src="/images/bamboo_items.png" class="img-responsive" alt="View of bamboo cases"></a>

<p>Lord Shiva under the shadow of a snake is being worshipped at the temple. Which is located at Munivaatam ashram near Munivaatam Falls at Perantalapalle.This is the place where this popular song <a href="https://youtu.be/2gb7V8hSEEA?t=13">'Na Gonthu Sruthilona, Na Gunde Laya Lona'</a> from Janaki Ramudu movie was picturized.</p>
<img src="/images/munivatamfalls.png" class="img-responsive" alt="View of munivatamfalls at perantalapalli">

<p>Nearly at 4 pm, they dropped us for Night Stay At Bamboo Huts At Kolluru, again the ferry went back with other tourists who opted for one day ride.</p> 
<img src="/images/kollurubank.jpg" class="img-responsive" alt="View of bank of kolluru huts">

<h3>Rajahmundry to Bhadrachalam via Papikondalu Itenary:</h3>
<ul><b>Day 1:</b>

<li>9:00 AM Departure to Perantalapalli From Rajahmundry.</li>
<li>10.30 AM Darshan at Gandi Pochamma Temple.</li>
<li>1.00 PM Vegetarian lunch in the Boat.</li>
<li>2.00 PM You will Reach Papikondalu, a journey between " Papikondalu" enjoy the beauty of nature.</li>
<li>3.00 PM You will Reach Perantapalli village in Khammam district. Visit "Ramakrishna muni Vatika" (Ashramam) and Veereswara Swamy Temple and darshan of Lord Shiva.</li>
<li>4:30 PM drops at Night Stay At Bamboo Huts At Kolluru Enjoy Tea & snacks in Pleasant nature.</li>
<li>8:30 PM Dinner at Bamboo Huts.</li>
<b>Day 2:</b>
<li>8.00 AM Local sightseeing by walk in the Forest area and seeing the Trible Culture.</li>
<li>9.00 AM Breakfast at the campsite.</li>
<li>12.30 PM Free time for local sightseeing. Bathing in "PAMALERU wagu" situated between papikondalu.</li>
<li>2.00 PM Lunch with Veg and Non-Veg.</li>
<li>3.00 PM BOAT Pick Up (Non-A/C). Return journey by Boat drops you at Pochavaram.</li>
<li>6.30 PM Reach Bhadrachalam 75 km by road.</li></ul>
<h3>How to reach Papikondalu from Rajahmundry: </h3>
<p><b>By Air:</b> Nearest airports are Rajahmundry and Visakhapatnam, after that you can take a train or bus or taxi to Papikondalu boating point.</p>
<p><b>By Train:</b> The train is the best and cheapest way to reach Rajahmundry. The nearest railway station is Rajahmundry, by hiring a vehicle you can reach Papikondalu boating point.</p>
<p><b>By Bus:</b> Rajahmundry is connected to all major stations like Visakhapatnam, Tirupati, Hyderabad, Vijayawada, you will get a direct bus to Rajahmundry.</p>

<h3>Best time to visit Papikondalu :</h3><ol>
<li>The best time to go depends on the water levels of the river Godavari.</li>
<li>The best time to visit Papikondalu is from August - June.</li></ol>

<h3>Things to do at Papikondalu :</h3><ol>
<li>Enjoy nature with no network connectivity night stay At Kolluru Bamboo Huts.</li>
<li>Try "Bongu Chicken" where chicken is cooked in a bamboo.</li>
<li>Take a ride on fisherman's boat downstream for a thrilling spine experience (upon your own risk).</li></ol>
<p>Riding over The Gushing Godavari river and exploring the hidden beauties of Papikondalu is a pleasant experience.</p>

<p><b>P.S:</b> Please continue to next part at <a href="/kolluruhuts-papikondalu-nightstay/" target="_blank">Kolluru huts night stay.</a></p>
<p style="text-align:center;">******</p>
<p><b>Do you have some other wonderful ways to keep your Papikondalu trip effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
<p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <h4 align="center" style="color:#0278AE "><b>#PlacesofIndia</b></h4>