+++
date = "2019-02-15T11:52:59+05:30"
title = "One day guide to Ajmer and Pushkar"
url = "/one-day-guide-to-ajmer-pushkar/"
description   = """Pushkar is mainly famous for four things they are: Pushkar camel fair, Brahma temple, holi celebrations and infamous Bhang Lassi."""
banner = "https://www.thebackpackdiaries.in/images/camel_herders.jpg" 
bgimage = "/images/camel_herders.jpg"
+++


<h2><a href="https://en.wikipedia.org/wiki/Ajmer" target="_blank">Ajmer:</a></h2>
<p><b>In</b> the north of Mewar region, close to the arid Thar Desert in Rajasthan lies Ajmer, a city surrounded by the Aravalli mountains. The Dargah of Khwaja Moinuddin Chishti is one of India's most important places for pilgrims and it is worth visiting at Ajmer.</p>
<p><b>Day 4:</b></p>
<h4>Reaching Ajmer:</h4>
<p>Started early in the morning to catch 09721 Jaipur - Udaipur holiday special train at Jaipur railway station to reach Ajmer. It's just a 2hr ride so no need to reserve tickets. Just got a general ticket and boarded the train.</p> 
<p>If you travel by train from Jaipur, you have to change the mode of transport from train to bus to Pushkar as it is not a viable option. So most of the time travellers make a stop at Ajmer on the way to Pushkar. I'm not a contradict even!</p>
<h3><a href="https://en.wikipedia.org/wiki/Kwaja_Garib_Nawaj" target="_blank">Dargah of Khwaja Moinuddin Chishti - Ajmer Dargah</a></h3>
<p>Whenever they say <a href="/agra-solo-backpacking-trip/" target="_blank">Agra</a>, we recall Taj Mahal. Likewise, Ajmer is popularly known for its Sharif Dargah. Narrow streets of Ajmer will lead you to dargah, commonly known as Ajmer Sharif Dargah. It is a standout amongst the most famous spots to visit in Ajmer.</p> 
<p>Locals believe that the mortal remains of the Sufi saint Khwaja Moinuddin Chishti are buried here. His work for the welfare of the poor brought him to the limelight. Inside dargah, walls are painted with Muslim notes and prayers.</p>
<img src="/images/ajmer_dargah.jpg" class="img-responsive" alt="view of ajmer dargah at Ajmer">
<p>I quickly finished visiting the dargah and moved to Ajmer RSRTC bus terminal. From there I took a tuk-tuk to local RSRTC bus terminal to board a bus to Pushkar. Met a Chinese traveller who was facing difficulties with navigation to reach Pushkar from Ajmer.</p>
<p>I introduced myself and said I'm also heading towards Pushkar. We searched for the bus at the local RSRTC bus terminal to reach Pushkar. And found one, ready to take off within no time so quickly boarded it.</p>
<img src="/images/rsrtc_ajmer_pushkar.jpg" class="img-responsive" alt="view of inside RSRTC bus at ajmer to pushkar">
<h2><a href="https://en.wikipedia.org/wiki/Pushkar" target="_blank">Pushkar:</a></h2>
<p>Pushkar was my second destination in my solo backpacking trip to Rajasthan. It is mainly famous for four things they are: Pushkar camel fair, Brahma temple, holi celebrations and infamous Bhang Lassi. Pushkar is a religious destination and also emerged as a hippie hideout due to high tourism impact.</p>
<p>Pushkar holds the only and oldest temple in the world dedicated to Lord Brahma four-faced idol of Lord Brahma called the <b>Chaturmukhi</b>. My dad insisted me to visit this temple and seek blessings.</p>
<p>The Pushkar camel fair is one of the most enchanting festivals in Rajasthan. It's not every day you can witness hundreds of decorated camels together in one place! It is one of the 'must-see' events if you visit Rajasthan around Oct - Nov.</p>
<h4>Reaching Pushkar: </h4>
<p>The route from Ajmer to Pushkar is the one should witness, it's neatly and deeply carved between sloppy mountains. On the way from Ajmer to Pushkar, the landscape changed dramatically, and you will witness from the Aravalli Ranges to the dry arid  landscapes with a fantastic view of the town from different perspectives all along the route.</p>
<img src="/images/ajmer_pushkar_ghat_road.jpg" class="img-responsive" alt="view of ajmer to pushkar ghat road">
<p>The drive to Pushkar from Ajmer is surrounded by the Aravalli Range on one side, and the wide region of an arid dry landscape with low vegetation on the other overlooks truly dazzling. You'd love to drive through Pushkar Ghati road and that could be a fulfilling experience.</p>
<p>By the time I arrived from Ajmer in the bus around 10Am the sun is already above the head red!!! I said goodbye to him as he was heading to his stay and I was on my mission to explore. I did entire Pushkar on foot. If you wish you can rent a moped or so!</p>
<h3>Places to visit in Pushkar:</h3>
<h4>1. Hilltop Savitri Mata temple:</h4>
<p>Planned an early morning hike to Savitri Temple, but due to transportation, I made it to a day hike. Asked around for directions which are pretty straightforward as per google but again locals are best. Started walking from the Brahma Temple itself and took the adjacent road to Savitri Temple. I met South Korean who was backpacking in India in his 60's.</p>
<img src="/images/south_korean_traveller.jpg" class="img-responsive" alt=" Selfie with south korean traveller at hill top Savitri Mata temple ">
<p>If you are good to hike you should definitely try this else, simply opt for ropeway! I decided to give a try for both. I was told the climb has 350 steps. Sun is already on the top. Be that as it may, I didn't step back! I just want to experience the stairway.</p>
<p>After unnumbered stairs of 'Temple Run'…reached the hilltop temple. However many it was a solid trek. The hilltop has got a stunning view of the Pushkar city. Just one group of around a dozen people or so. It is so calm and peaceful up there.</p>
<p>The hike took us about an hour. We tried reaching the top before the sun could rise above us to enjoy the most beautiful view! Be careful with Gray langurs. Do not feed anything to them. You will absolutely enjoy the breeze at the top.</p>
<img src="/images/Grey_Langrus_pushkar.jpg" class="img-responsive" alt="view of Grey Langrus at pushkar">
<p>People worship Savitri Mata as a primary deity. Had a great darshan and spent a few minutes enjoying the beautiful hilltop view. We started our way towards the ropeway. Ticket prices here for ropeway around ₹95 rupees for a ticket and 18% GST total ₹115.</p>
<h3>Savitri Mata Temple timing:</h3>
<p>It is open from sunrise to sunset with a lunch break between 1pm and 2pm.</p>
<h3>Savitri Mata Temple Ropeway timing:</h3><ol>
<li>Ropeway begins at 9 AM and stops at 6.30 PM. </li>
<li>*These Timings may vary in the winter months.</li></ol>
<p>As planned boarded the ropeway for return. So what are the amazing views you see from the top of the ropeway? The whole picture of Pushkar at a glance and you can also get amazing views of defragmented shaped of the huge boulders. Look far and you can see arid Aravali ranges on the right and Pushkar landscape upfront. Overall it's a delightful experience.</p>
<img src="/images/ropeway_pushkar.jpg" class="img-responsive" alt="view of pushkar from ropeway">
<blockquote><b>Best Time to do Savitri Mata Temple hill trek to avoid scorching sun is before 8 AM.</b></blockquote>
<p>Under scorching sun and throat stuffed with sand and dust, my stomach reminded me for a lunch break. We made out our way down to grab some food.</p>
<p>I was searching for a good place to try local specials. We found one on the street near Brahma temple which served us "Rajasthani pyaaz ki kachori." A decent lunch followed by a masala chai in desi style made the place heaven for us. He left to Jodhpur in his pre-booked cab, and I continued my journey.</p>
<h4>2. Pushkar Lord Brahma temple:</h4>
<p>After a quick bite, I started all my way to the Brahma Temple, Pushkar's most famous temple. I'm just curious to know why this temple has got so much attention. Earlier people consider a journey to Pushkar to be a pilgrimage with devotion as this is one of the only temples in the world that is dedicated to Lord Brahma. But now due to its hippie status, its attracting tourists all over the world. I had good darshan and moved towards Pushkar lake.</p>
<img src="/images/brahma_temple_pushkar_ghat.png" class="img-responsive" alt="view of brahma temple from pushkar ghat">
<h4>3. Pushkar lake:</h4>
<p>Next, I made all my way down to Pushkar lake to explore the surrounding pushkar ghats and temples to find some tranquillity. Pushkar lake one of the famous attractions, where culture, spiritually, and peace sit together to celebrate pure aliveness of happening moments.</p>
<p>There are several Ghats to enter the lake. After a long walk under the scorching sun, I couldn't control my self to take a dip in the lake where the locals bathe themselves in the waters. As the water is so cold, so chanting "Hara Hara Mahadeva" took a dip in the lake. Wow, how refreshing it was!</p>
<img src="/images/pushkar_lake.jpg" class="img-responsive" alt="view of pushkar lake">
<p><b>Tip:</b>You can observe Pujaris performing rituals all over the ghats of the lake. Better avoid them before you fall as prey.</p>
<p>Pushkar markets have a wide range of collections. Due to high prices, I just did window shopping. But you can come across a lot of locals in their traditional dress and observe their way of living.</p>
<p>Early in the evening boarded RSRTC bus from Pushkar to Ajmer. On the way to the Ajmer bus stop on your right side you will find Ana Sagar lake. Requested the bus conductor to stop and got down to witness the sunset view at Ana Sagar lake.</p>
<h4>Ana Sagar Lake:</h4>
<p>Ana Sagar lake is popularly known as Ajmer lake, which is located at the heart of the city of Ajmer. The sublime romantic charm of this place will definitely clinch your applause. The lake is the sole witness of fascinating historical events of Ajmer. Sunset at Ana Sagar Lake on should witness.</p>
<p>After witnessing the sunset went back to Ajmer railway station to catch 09721 Jaipur - Udaipur holiday special train at 8 PM. The same train which I caught in the morning. For hassle-free and tension free general railway ticket booking, please use Indian Railways <a href="https://www.utsonmobile.indianrail.gov.in/" target="_blank">UTS Mobile app.</a></p>
<img src="/images/ana_sagar_lake_ajmer.jpg" class="img-responsive" alt="view of ana sagar lake">
<h3>Things to do in Pushkar:</h3>
<h4>1. <a href="https://en.wikipedia.org/wiki/Pushkar_Fair" target="_blank">Visit during Pushkar camel fair:</a></h4>
<p>Popularly known as Pushkar camel festival where nomads, herders, and visitors from various places will gather here to see, sell and buy. Camels, horses, and elephants are decorated and exhibited.</p>
<p>Besides camel trading, As a traveler, you can even get involved with camel safaris and compete in moustache or turban tying contests!Enjoy desi folk performances along with puppet shows and enjoy the delights of the colourful local fair. You can check <a href="https://www.spholidays.com/india-tours/pushkar-tour.php" target="_blank">dates for pushkar camel festival</a>in coming years.</p>
<img src="/images/camel_fair_pushkar.jpg" class="img-responsive" alt="camel fair in pushkar">
<h4>2. Experience Holi in Pushkar: </h4>
<p>One of the great destination to celebrate Holi is Pushkar. Though it is a Hindu festival in Pushkar, it is celebrated crazily where people dance on crazy beats and smear colours on one another. The most common consumption of Bhang is in the form of a drink called LASSI made with curd, sugar and optional seasonal fruit or THANDAI made with almonds, pistachio, and rose petals. Where this Bhang Thandai is being distributed as Prasad to all the devotees who come to play Holi.</p>
<img src="/images/holi_in_pushkar.jpg" class="img-responsive" alt="holi in pushkar">
<h4>3. Try Pushkar camel safari: </h4>
<p>Camels were decorated with sequins and multi-colored puffballs. The camels here are treated like members of the family. Camel ride is one of the best things one should not miss in Pushkar. We can either have a solo ride with a camel or we can enjoy group ride in the camel cart. Please check the prices before you book.</p>
<p>Make sure to check the place carefully before booking out places as they are man-made where sand is put on the ground in the small area and camel safari is done. Camel safari is a little overpriced in here.  Bargain for the best price. But again if you have Jaisalmer desert safari in your itinerary don't even think about it. Where do we get a camel desert safari ride in India except in Rajasthan?</p>
<img src="/images/camel_carts_pushkar.jpg" class="img-responsive" alt="camel carts in pushkar">
<h4>4. Enjoy Street Shopping:</h4> 
<p>The Pushkar market is always crowded with tourists and loaded with lots of colorful goodies which are simply irresistible. The goodies tempt to buy as for them as much as you can. The prices are too high.</p>
<p>Like any other Indian, I wasn't pleased to see that the shopkeepers dont welcome us. Colorful beads lined throughout the shops are the main attraction. Comes in various colors and designs and is a beautiful buy to all those who love to decor their homes in a traditional way.</p>
<img src="/images/pushkar_market.jpg" class="img-responsive" alt="pushkar market">
<h3>Food to try in Pushkar:</h3>
<p><ol><li>The best part of the whole trip was the countless <b>"Rajasthani pyaaz ki kachoris & Kadhi Kachoris"</b> we had on the street near Brahma temple.</li>
<li><b>Daal Baati in Pushkar:</b> One of the Rajasthan special dish need to taste at the market square.</li>
<li><b>The amazing Mithaiwalas:</b> Do try having some kachoris with Kadhi and jalebi at breakfast! It has got its own charm. A very common delicacy here is the Malpua as seen being made by the guy in this photo.</li>
<li><b>Camel's Milk Chai in Pushkar:</b> For the first sip it tasted bit err … feel but later on its simply camelicious. Due to the era of camel herders has been declining so as the use of camel milk has been replaced by buffalo milk. For intresting facts regarding Camel tea please go through the article from <a href="http://chaiwallahsofindia.com/2013/11/camel-milk-chai-desert-delight/" target="_blank">chaiwallahsofindia.com</a></li>
<img src="/images/camel_tea.jpg" class="img-responsive" alt="Camel herders brewing camel tea.jpg">
<li><b>Bhang Lassi:</b> Being holy place food restrictions are strictly followed here. You won't find any beer or Non-Veg. So what is bhang Lassi? It's a yoghurt drink mixed with little amounts of cannabis. <br><b>Caution:</b> It creates heavy dizziness so if you are a solo traveller Please dont even think of it! If you from a group make sure at least a few of them stay calm while you try! Follow this guide for <a href="https://hippie-inheels.com/bhang-lassi-in-india/" target="_blank">Drinking Bhang Lassi in India.</a></li></ol></p>
<h3>How to reach Pushkar:</h3>
<p>Distance between jaipur to pushkar is about 150 Km. We have multiple means of transport to reach pushkar.</p>
<p><ol><li><b>By Air:</b> Sanganer Airport of Jaipur is the nearest airport situated which is around  150 km away from the Pushkar. From there you can take a bus or train or  hire a taxi to reach Pushkar.</li>
<li><b>By Train:</b> The nearest railway station to pushkar is Ajmer. This is the best, cheapest and the most recommended mode of transportation to reach Pushkar. Ajmer is connected by trains from all the major cities of India. From Ajmer, you can travel to Pushkar Railway Station, which is hardly around 10kms far or you can book a taxi.</li>
<li><b>By Bus:</b> Ajmer is well connected to the nearby major cities like Jaipur, Udaipur, Jodhpur, Bundi, etc. Buses run from all the major cities on the regular bases to Ajmer and from Ajmer you can get a bus or taxi to pushkar.</li></ol></p>
<h4>Why Pushkar Ain't as Good as it used to Be?</h4>
<p>Puskar has emerged as an expensive place after Udaipur. It's a more commercialized tourist destination. Due to high foreigners floating being an Indian is the only factor which made them neglect traveler's like me.</p>
<p>Instead, I could have planned Chittorgarh or Bundi itself for a day! With a huge disappointment and unworthiness returned back to Jaipur hostel.</p>
<p>Next day early in the morning, I'm heading to Jaipur Rly.station. Next place on my wanderer list? I was heading to Udaipur for the next day!</p>

<p><b>Do you have some other wonderful ways to keep your travel effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
              <p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <h4 align="center" style="color:#0278AE "><b>#RangeeloRajasthan</b></h4>