+++
date = "2018-05-15T11:52:59+05:30"
title = "Rath Yatra - The Chariot festival of India"
url = "/rath-yatra-chariot-festival-of-india/"
description   = """During Rath Yatra, Rath is being pulled with the ropes by the devotees and is believed to be a sacred religious act."""
banner = "https://www.thebackpackdiaries.in/images/rathyatra.png"
bgimage = "/images/rathyatra2.png"
+++
<h3>What is Rath Yatra?</h3>
<p>Simply it is a journey of deities in a decorated chariot pulled by the public. The deities were placed in the chariots and public pulls the chariot, journeying through the streets of that region. Once all the rituals to be performed completes, they will return back to the temple.</p>
<p>Rath Yatra is celebrated in the various parts of India. 4 Amazing rath yatras will make you fall in ❤ with India.</p>
<h2>Jagannath Rath Yatra at Puri- Odisha</h2>
<p>Lord Jagannath as a primary deity rath yatra at Puri is considered as the World's Largest Chariot Festival is being celebrated. The Chariot is the main center of attraction as it is approx. 45 feet high and 35 feet square and which takes about 2 months to <a href="https://medium.com/r/?url=https%3A%2F%2Fbooks.google.co.in%2Fbooks%3Fid%3Dv4bV3beb0n8C%26pg%3DPA64%26redir_esc%3Dy%23v%3Donepage%26q%26f%3Dfalse" target="_blank">build it.</a></p>
<h3>When is jagannath puri rath yatra celebrated?</h3> 
<p>The festival is celebrated in July. You can find the Jagannath Puri Rath yatra video below.</p> 
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" width="700" height="400" src="https://www.youtube.com/embed/d20NhSifd7A?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </div>
<h2>Ratha Yatra of Mahesh at Serampore - West Bengal</h2> 
<p>Ratha Yatra of Mahesh or Mahesh Rath Yatra Kolkata is the second oldest chariot festival in India. Lord Jagannath as a primary deity, it is celebrated on the same day as the Puri Ratha Yatra. People throng to have a share in pulling the long ropes attached to the chariots of Lord Jagannath during the rath yatra festival in kolkata.</p> 
<img src="/images/Mahesh_rathyatra.png" class="img-responsive" alt=" View of the mahesh rath yatra from the main temple">
<blockquote><b>'Ratha' </b>means chariot and<b>'yatra' </b>means journey. Rath Yatra is popularly known as Chariot festival of India. In more than 108 cities rath yatra is being celebrated across the globe. India is a hometown for them.</b></blockquote>
<h2>Jamalpur Jagannath Rath Yatra at Ahmedabad - Gujarat</h2>
<p>It is the third largest Chariot Festival in the world. It is celebrated on the same day as the Puri Ratha Yatra and Lord Jagannath as a primary deity. Along with 23–25 decorated elephants thousands of devotees with Pots on their heads participate in the rath yatra. Devotees of Lord Jagannath who cannot make it for the Puri Jagannath Rath Yatra, often try to make it to Ahmedabad Jagannath Rath Yatra, as this one is comparatively less crowded.</p> 
<p>The Ahmedabad Rath Yatra is the second largest Rath Yatra festival after the Rath Yatra festival in Puri.</p> 
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" width="700" height="400" src="https://www.youtube.com/embed/ABjQAnIUahs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </div>
<h2>Madduramma Jatre at Huskur - Bangalore</h2>
<p>It is popularly known as Rath yatra Bangalore. It is celebrated as goddess Madduramma as a primary deity. People from 101 villages surrounding Huskur will celebrate this fair. Many villagers bring huge holy chariots by pulling till Madduramma temple which has the history of over 300 years.</p> 
<p>It is celebrated during February. Locale calls it as parse. The chariots are beautifully designed and pulled off to the temple. The colourful chariots are the center of attraction to parse.</p>
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" width="700" height="400" src="https://www.youtube.com/embed/RR51I1iokkA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
<p>During Rath Yatra, Rath is being pulled with the ropes by the devotees and is believed to be a sacred religious act, this belief which attracts millions of tourists from all over the world. There is a saying that a person who sees god on the Chariot on the auspicious day of Rath Yatra attains Moksha for all their sins. Hence Rath Yatra festival attracts millions of devotees every year.</p>
<p><b>Do you have some other wonderful ways to keep your travel effective while on the move? Share with me in the comments below your smart ways.</b></p>
              <p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
             <h4 align="center" style="color:#0278AE "><b>#FestivalsofIndia</b></h4>