+++
date = "2018-02-15T11:52:59+05:30"
title = "Thatipudi Reservoir - Queensland of Eastern Ghats"
url = "/exploring-thatipudi-reservoir/"
description   = """Nestled in the lap of the Eastern Ghats, the Tatipudi reservoir charming in its unique way."""
banner = "https://www.thebackpackdiaries.in/images/boating.png"
bgimage = "/images/hill_view.jpg"
+++

<p><b>We</b> have watched so many documentaries about rich flora and fauna on Nat Geo and Discovery channel and found that it was a must-see place for us. We wanted to have the first-hand experience being in the rainforest. Then we came to a place which is just 70 km away from Visakhapatnam on the way to Araku. That is Thatipudi reservoir nestled in the lap of the Eastern Ghats.</p>

<p>Visakhapatnam is a major city that is in Andhra Pradesh — this city is the main entrance to visit Thatipudi. We flew to thatipudi from Visakhapatnam. Ap tourism gives you the best travel packages that can take you to Thatipudi with services ranging from tough jungle survival to resort style living.</p>

<p>We took a 2-Day 1-Night tour, which included camping in the rainforest, boat ride, lunch with local recipes along with hikes to explore the jungle.</p>

<p>We were a group of 6 people. It’s great to meet people from different cultures and background — there was a couple from Bangalore and another backpacker from Delhi. The local guides were very knowledgeable, spoke perfect English and were doing these tours for more than 15 years.</p>

<h3>Take A Ride In The Boat</h3><p> 
A boat ride is one of the best things available in the reservoir. We took a boat from the port and crossed the place where Gosthani river and its tributary meet. It’s an amazing sight where we saw the water of the Gosthani and water of its tributary trying to merge. Due to the difference in temperature and speed of water stream when these two rivers meet we clearly saw a division line between the two. Feast on the beautiful sceneries of water touching trees, scenic running clouds and small fishes and birds. Seeing some of the ever-changing panoramas of jungle life as the River cruise boat continues upriver.</p>
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" width="700" height="400" src="https://www.youtube.com/embed/iHMMNUHgl2k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </div>

<h3>Enjoy the beauty Sitting On The  Bench</h3>
<p>We rode the boat for 10 min and reached the island. We reached thatipudi Reservoir area of rainforest. Once we arrive at an island coast, enjoyed a refreshing swim. Submerged benches are major tourist attractions. You can spend some time sitting here as you can have an exotic view of nature and you can enjoy birds chirping and winds rustling.</p>
<img src="/images/benches.jpg" class="img-responsive" alt="View from benches at thatipudi">
<h3>Amazing Food Feast</h3>
<p>There is a bamboo restaurant where tables and chairs are carved with bamboos which were clean and simple — perfect for people who want to explore the forests. These recipes available here gonna blow your mind away and make your tummy satisfied. Bamboo chicken famously known as bongulo chicken is the famous dish while the restaurant serves tasty Biryani also.</p>
<h3>Giri Vinayaka</h3>
<p>Here is a Giri Vinayaka statue on the hilltop (  the statue may look a bit artificial) but the view around from the mount is stunning. We climbed all along the stairs to reach the hilltop. The view is stunning vista.
We watched the beautiful sunset over lush green forest On our way back to the resort.</p>
<img src="/images/Giri_vinayaka.jpg" class="img-responsive" alt="View of giri vinayaka at thatipudi">
<p>We decided to taste the local recipes. We found a small restaurant down the reservoir near our resorts in a corner with a delicious menu featuring Fried Fish, Prawns, Chicken and hot Sambar Rice. Without any second thought, we just made our appetite.</p>

<p>The local guide helped us to set up the campfire and gathered some woods from the nearby locale to start the fire and keep us warm at night. With his serious caution about mosquitoes and other insects as it is a forest area so we took some mosquito repellants and mosquito coils with us. We set up a mosquito net around our beds to sleep within it. Sooner we went into sleep mode as we had to wake up early the next morning.</p>

<h3>Capture Nature's Beauty</h3>

<p>Next day we got up at 5.00 AM in the morning and went to see the sunrise. Being a fog-filled cloudy day it's less effective. So we came back to our resort for breakfast and got ready for our hike around 10.00 AM. We took a private transport for an hour and reached deep into the forest through a walkway, where we began our trek. We saw and heard noises of squirrel monkeys, eagles, macaws along the sidewalk. This was our first experience walking in the forest with trees so thick that sunlight hardly reached the ground.</p>
<img src="/images/Photographer.jpg" class="img-responsive" alt="View from a photographers point">
<p>If photography is your passion, this area offers you a wide landscape for rare species of birds which attracts <a href="https://shanmukeshdadi.com/portfolio" target="_blank">photographers</a> across the globe. Carry your camera along because monsoon makes this place brighten up to next level. Fog covered green hills, clear blue waters, sunsets are worth capturing here.</p>
<img src="/images/sunrise.jpg" class="img-responsive" alt="sunrise view">
<p>As we walked through the jungle we came across wild animals, exotic birds and lots of medicinal plants and these made our day. We were taken to nearby tribal hamlets to experience the lifestyles, food items and livelihood of various tribal communities. After gearing up for a 3-hour hike exploring the forest, we made our way back to our resort for lunch.</p>

<p>The Eastern ghats classic experiences are more sublime than that. The Gosthani river is massive and unrelenting, as much a life form as the plants and animals that depend on it. Wildlife is hard to spot amid this intricate, organic superstructure, but that much more special when you do; the rainforest is everywhere and awesome. Indigenous tribes are very withdrawn, but populating the riverbanks are vital and compelling. The whole experience is overwhelming.</p>

<blockquote>Many travellers leave the Eastern ghats underwhelmed, having come expecting a Discovery Channel-like encounter with anacondas, and spear-toting tribes. That doesn’t happen actually.</blockquote>

<p>This was the best experience we ever had in our entire eastern ghat trip. The moments we spent and the memories we captured in the thatipudi are speechless. It was an adventurous experience and we highly recommend this trip to anyone who wants to be close to nature and enjoy the real thrill of being in the jungle.</p>

<p><b>Do you have some other wonderful ways to keep your Thatipudi trip effective while on the move? Share with me in the comments below your smart ways to be a traveler.</b></p>
<p><b>Lastly, If you enjoyed this story, please recommend ❤️ and share to help others find it! It would mean so much to me!</b></p>
              <h4 align="center" style="color:#0278AE "><b>#PlacesofIndia</b></h4>