.blog-title h1{padding-top:3%;}
.widget ul li {
  list-style: none!important;
}
.widget ul {
  padding-left: 0px;
}
.navbar-toggle .icon-bar + .icon-bar {
     background-color: #0278AE;
}
.m-b-0{
  margin-bottom: 0px !important;
}