<div class="col-md-4">
	<div class="tbpd-blog animate-box">
		<a href="{{ .URL }}" class="blog-bg" style="background-image: url({{ .Params.banner }});"></a>
		<div class="blog-text">
			<span class="posted_on">{{ .Date.Format "Jan 2, 2006" }}</span>
			<h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
			<p>{{ .Description }}</p>
			<ul class="stuff">
				<li><i class="icon-user"><a href="/ratnakar-patrayudu/"></i>Ratnakar</a></li>
				<li><a href="{{ .URL }}">Read More<i class="icon-arrow-right22"></i></a></li>
			</ul>
		</div>
	</div>
</div>
