<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ .Title }}
        </title>
        {{ partial "common/meta.html" . }}

	{{ partial "common/style" }}
        <!--  <link rel="stylesheet" href="/css/selection-sharer.css" /> -->
        {{ partial "common/ga" }}
        <script src="/js/modernizr-2.6.2.min.js">
        </script>
    </head>
    <body>
        <!-- start Header -->
        {{ partial "header" }}
        <!-- end Header -->
        <div class="content SectionMargin m-t-80" id="content">
            <div class="container">
                <div class="row">
                    <!-- start single-blog -->
                    <div class="col-sm-8 col-sm-offset-2" id="single-post-content">
                        <article class="post">
                            <div class="post-image">
                                <img alt="Post Image" class="img-responsive" height="470" src="{{ .Site.BaseURL}}{{ .Params.bgimage }}" width="750">
                                </img>
                            </div>
                            <!-- end post-image -->
                            <div class="blog-title">
                                <h1>
                                    {{ .Title }}
                                </h1>
                            </div>
                            <!-- end post-title -->
                            <div class="post-meta row">
                                <div class="col-md-4">
                                    <i class="icon-user">
                                    </i>
                                    <a href="/ratnakar-patrayudu/" target="_blank">
                                        Ratnakar
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <i class="icon-calendar">
                                    </i>
                                    <a href="#">
                                        {{ .Date.Format "Jan 2, 2006" }}
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <i class="icon-book">
                                    </i>
                                    <a href="#">
                                        {{ .ReadingTime }} min read
                                    </a>
                                </div>
                            </div>
                            <!-- end post-meta -->
                            <div class="blog-text m-t-20">
                                <div id="wrap">
                                    {{ .Content }}
                                </div>
                            </div>
                            <!-- end post-body -->
                            {{ partial "cta" . }}
                            <!-- start share-icon -->
                            <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                    <span>
                                        Share this Post:
                                    </span>
                                    <ul class="tbpd-social-icons">
                                        <li>
                                            <a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank">
                                                <i class="icon-twitter2">
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">
                                                <i class="icon-facebook3">
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source=TheBackpackDiaries" target="_blank">
                                                <i class="icon-linkedin2">
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://api.whatsapp.com/send?text={{ .Title }}-{{ .Permalink }}" target="_blank">
                                                <i class="icon-whatsapp">
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- end list-social -->
                                </div>
                            </div>
                            <!-- end share-icon -->
                        </article>
                        <!-- end post -->
<br><br>
                                   <div class="row">
                                    <h2 class="text-center" >Suggested Posts</h2>
                                    <br>
                                    <div class="col-md-6">
                                        {{ if .PrevInSection }}
    <div class="tbpd-blog animate-box">
        <div class="blog-text">
      
            <h3><a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}}</a></h3>
                  <span class="posted_on">{{ .Date.Format "Jan 2, 2006" }}</span>
            <ul class="stuff">
                <li><i class="icon-user"><a href="/ratnakar-patrayudu/"></i>Ratnakar</a></li>
                <li><a href="{{.PrevInSection.Permalink}}">Read More<i class="icon-arrow-right22"></i></a></li>
            </ul>
        </div>
    </div>
    {{ end }}
</div>
<div class="col-md-6">
    {{ if .NextInSection }}
    <div class="tbpd-blog animate-box">
        <div class="blog-text">
            
            <h3><a href="{{.NextInSection.Permalink}}">{{ .NextInSection.Title }}</a></h3>
            <span class="posted_on">{{ .Date.Format "Jan 2, 2006" }}</span>
            <ul class="stuff">
                <li><i class="icon-user"><a href="/ratnakar-patrayudu/"></i>Ratnakar</a></li>
                <li><a href="{{.NextInSection.Permalink}}">Read More<i class="icon-arrow-right22"></i></a></li>
            </ul>
        </div>
    </div>
    {{ end }}
</div>
</div>
<div>
<ul>
  {{ range first 2 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
    <li class="relatedPost">
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a><br />
      {{ .Description | markdownify }}
    </li>
  {{ end }}
</ul>
 </div>

                 {{ partial "common/disqus" }}
                        <!-- 					
	<div class="alertbar	<div class="container text-center">
		<img src="/images/logo.png" alt=""> &nbsp; Never miss a <b>story</b> from me, get weekly updates in your inbox. <a href="#" class="btn btn-default btn-lg">Get Updates</a>
	</div>
</div>
">

	 -->
                        <!-- start footer -->
                        <div id="tbpd-footer">
                            <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                    <p>
                                        © The Backpack Diaries. All Rights Reserved. Designed by
                                        <a href="/ratnakar-patrayudu/" target="_blank">
                                            Ratnakar
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- end footer -->
                        <div class="gototop js-top">
                            <a class="js-gotop" href="#">
                                <i class="icon-arrow-up22">
                                </i>
                            </a>
                        </div>
                        <!-- {{ partial "common/crisp" }} -->
                        {{ partial "common/script" }}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>