<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="generator" content="">
<meta name="description"               content="{{ if .Description }} {{ .Description }} {{else}} {{ .Site.Params.description }} {{ end }}"/>
<meta property="og:url"                 content="{{ .Site.BaseURL }}" />
<meta property="og:title"               content="{{ if eq .Title .Site.Title }} {{ .Site.Title }} {{else}} {{ .Site.Title }}{{ .Title }} {{ end }}" />
<meta property="og:description"         content="{{ if .Description }} {{ .Description }} {{else}} {{ .Site.Params.description }} {{ end }}" />
<meta property="og:site_name"           content="{{ if eq .Title .Site.Title }} {{ .Site.Title }} {{else}} {{ .Site.Title }}{{ .Title }} {{ end }}" />
<meta property="og:image"               content="{{ .Params.banner }}" />
<meta property="og:type"                content="website" />
<meta property="og:locale"              content="en_US" />
<meta name="twitter:card"               content="summary">
<meta name="twitter:title"             content="{{ if eq .Title .Site.Title }} {{ .Site.Title }} {{else}} {{ .Title }} | {{ .Site.Title }} {{ end }}">
<meta name="twitter:description"       content="{{ if .Description }} {{ .Description }} {{else}} {{ .Site.Params.description }} {{ end }}">
<meta name="twitter:image"             content="{{ .Params.banner }}" />
	<link rel="icon" href="/images/favicon.ico" type="image/ico">