	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" 	   content="IE=edge">
	<meta name="viewport" 				   content="width=device-width, initial-scale=1">
	<!-- <meta NAME="ROBOTS"                    content="NOINDEX, NOFOLLOW"> -->
	<meta name="description"               content="The Backpack Diaries is a travel blog of a young man who laid foot into travel with his backpack in his twenties. His heart is raging with a desire to explore the unexplored. It was none other than ME 😊."/>
	<meta name="generator"               content="The Backpack Diaries"/>
	<meta name="author"               content="Ratnakar"/>

	<meta property="og:url"                 content="https://www.thebackpackdiaries.in" />
	<meta property="og:title"               content="Stories from the Backpacks | The Backpack Diaries" />
	<meta property="og:description"         content="The Backpack Diaries is a travel blog of a young man who laid foot into travel with his backpack in his twenties. His heart is raging with a desire to explore the unexplored. It was none other than ME 😊." />
	<meta property="og:site_name"           content="The Backpack Diaries" />
	<meta property="og:image"               content="https://www.thebackpackdiaries.in/images/logo.png" />
	<meta property="og:type"                content="website" />
	<meta property="og:locale"              content="en_US" />
	<meta name="twitter:card"               content="summary">
	<meta name="twitter:title"              content="Stories from the Backpacks | The Backpack Diaries">
	<meta name="twitter:description"        content="The Backpack Diaries is a travel blog of a young man who laid foot into travel with his backpack in his twenties. His heart is raging with a desire to explore the unexplored. It was none other than ME 😊.">
	<meta name="twitter:image"              content="https://www.thebackpackdiaries.in/images/logo.png" />
	<link rel="icon" href="/images/favicon.ico" sizes="16x16" type="image/ico">
	