<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="/js/jquery.easypiechart.min.js"></script>
	
	<!-- Main -->
	<script src="/js/main.js"></script>
	
		<script>
$(function () {
  var message = "Happy Backpacking";
  var original;

  $(window).focus(function() {
    if(original) {
      document.title = original;
    }
  }).blur(function() {
    var title = $('title').text();
    if(title != message) {
      original = title;
    }
    document.title = message;
  });
});</script>
