 <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="images/favicon.ico"/>
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/common.css">