<html>
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title> Ratnakar Patrayudu | The Backpack Diaries</title>
	{{ partial "common/meta"}}

	{{ partial "common/style"}}
    
	</head>
	<body>

	{{ partial "header" }}
	
	
<header id="tbpd-header" class="tbpd-cover" role="banner" style="" data-stellar-background-ratio="0.5">

		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t 	">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							
							<h1><span>Ratnakar Patrayudu</span></h1>
							<h3 
                               class="txt-rotate f-s-26"
                               data-period="1000"
                               data-rotate='["Professional SEO", "Passionate Traveler", "Coffee Lover" ]'> </h3>

							<!-- <h3><span>Blogger / Traveller</span></h3> -->
							<p>
								<ul class="tbpd-social-icons">
									<li><a href="https://twitter.com/Ratnakar1811"><i class="icon-twitter2"></i></a></li>
									<li><a href="https://www.facebook.com/ratnakar.rocky"><i class="icon-facebook3"></i></a></li>
									<li><a href="https://www.linkedin.com/in/ratnakarpatrayudu/"><i class="icon-linkedin2"></i></a></li>
									<li><a href="https://www.instagram.com/ratnakar_rocky/"><i class="icon-instagram2"></i></a></li>
									<li><a href="https://www.youtube.com/channel/UCW2TWgnB5skR_hRCfXObQuQ"><i class="icon-youtube"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<div id="tbpd-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center tbpd-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<!-- <ul class="info">
						<li><span class="first-block">Name:</span><span class="second-block">Ratnakar Patrayudu</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+91 9966532285</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">ratnakarpatrayudu@gmail.com</span></li>
					</ul> -->
					
                <img src="/images/bpd.png" class="img-responsive" alt="bdp">
				</div>
				<div class="col-md-8">
					<h2>Who the heck is this?</h2>
					<p>I’m a Search engine optimisation specialist with interest in building the most effective sales forces possible. I’ve been helping businesses find their perfect gains. I also do the consultations on SEO, SMM and Digital Marketing.</p>
					<p>When I’m not on the job, I love travelling, working my way through every inch as an adventurer and my love for exploring new places and drinking coffee are never ending. Sips from the best coffee to crazy travel stories, think of me as your travel partner – the person who likes a coffee and love to travel. I learned that every backpack has a beautiful story behind it!!! And this made me start sharing my backpack stories in here. Because...<br><b> I <span style="font-size:125%;color:red;">&hearts; </span>Backpacking!!! </b>

						<ul class="tbpd-social-icons">
									<li><a href="https://twitter.com/Ratnakar1811" class="btn btn-block btn-social btn-twitter"><span class="icon-twitter2"></span> Follow me</a></li>
									<li><a href="https://www.linkedin.com/in/ratnakarpatrayudu/" class="btn btn-block btn-social btn-linkedin"><span class="icon-linkedin2"></span> Connect with me </a></li>
									<li><a href="https://www.youtube.com/channel/UCW2TWgnB5skR_hRCfXObQuQ?sub_confirmation=1" class="btn btn-block btn-social btn-youtube"><span class="icon-youtube"></span> Subscribe</a></li>
									<li><a href="https://www.instagram.com/ratnakar_rocky/" class="btn btn-block btn-social btn-instagram"><span class="icon-instagram2"></span> Follow me </a></li>
								</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="tbpd-resume" class="tbpd-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center tbpd-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Senior SEO Executive</h3>
									<span class="company">Lybrate May 2019 - working currently</span>
								</div>
								<div class="timeline-body">
									<p>An experienced and enthusiastic who can contribute to the ongoing Google organic success and responsible for driving and increasing traffic. </p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Product Manager</h3>
									<span class="company">Vijayasurrabhi July 2017 - 2019</span>
								</div>
								<div class="timeline-body">
									<p>Responsible for managing Dairy Procurement Software and made our vision a reality from new ideas, industry experience, engaging with industry experts and thoroughly understanding the needs of our customers.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">SEO & Digital Marketing Consultant</h3>
									<span class="company">Gurujada Jan 2017 - Current</span>
								</div>
								<div class="timeline-body">
									<p>Experienced Search Engine Optimization Specialist with a demonstrated history of working in the SEO and marketing areas.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Sales & Marketing</h3>
									<span class="company">Gurujada Nov 2016 - Jan 2017</span>
								</div>
								<div class="timeline-body">
									<p>Recruited to develop and execute regional Sales and marketing plan for the company.</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Bachelors Degree</h3>
									<span class="company">JNTU-Kakinada - 2012 - 2016</span>
								</div>
								<div class="timeline-body">
									<p>Strong marketing professional with a Bachelor of Technology (BTech) focused in Electronics and Communications Engineering.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">College Education</h3>
									<span class="company">Sri Chaitanya - 2010 - 2012</span>
								</div>
								<div class="timeline-body">
									<p>Energetic and passionate college student worked towards his career development in the areas of Maths, Physics and Chemistry with a good academic record.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Secondary Education</h3>
									<span class="company">Bhashyam - 2009 - 2010</span>
								</div>
								<div class="timeline-body">
									<p>An active participant in high school organizations and sports, trusted by teachers to take leadership roles and complete tasks.</p>
								</div>
							</div>
						</li>
						
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	

	<div id="tbpd-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center tbpd-heading">
						<h2>What Exactly I Do?</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>SEO</h3>
								<p>Professional who loves working on SEO.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>Travel</h3>
								<p>Travelling to explore the hidden and experience the real beauty of nature.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-pencil"></i>
							</span>
							<div class="feature-copy">
								<h3>Blogging</h3>
								<p>I share my adventures and candid opinions of my backpack diaries.</p>
							</div>
						</div>
					</div>
				</div>


				
			</div>
		</div>
	</div>
	

	
	<div id="tbpd-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center tbpd-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				 <div class="tab-content">

				<div class="col-md-4 col-sm-3 col-xs-12 text-center">
					<image src="/images/content.svg" alt= ""/><h4>Content Marketing</h4></a></a>
				</div>
				<div class="col-md-4 col-sm-3 col-xs-12 text-center">
						<image src="/images/analytics.svg" alt= ""/><h4>Analytics</h4></a>
						 
				</div>
				<div class="col-md-4 col-sm-3 col-xs-12 text-center">
						<image src="/images/copywriting.svg" alt= ""/><h4>Copy Writing</h4></a></a>
						  
				</div>
   
 </div>	

			</div>
			
		</div>
	</div>

	<div id="tbpd-work" class="tbpd-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center tbpd-heading">
					<h2>Projects</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://www.gurujada.com/" rel="nofollow" class="work" style="background-image: url(/images/gurujada.jpg);">
						<div class="desc">
							<h3>Gurujada</h3>
							<span>Web design</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://www.vijayasurrabhi.com" rel="nofollow" class="work" style="background-image: url(/images/vs.png);">
						<div class="desc">
							<h3>VijayaSurrabhi</h3>
							<span>Dairy Procurement Software</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(/images/skg.jpg);">
						<div class="desc">
							<h3>SKGArts</h3>
							<span>Photography</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(/images/pmp.jpg);">
						<div class="desc">
							<h3>SucceedPM</h3>
							<span>PMPPrep</span>
						</div>
					</a>
				</div>
				
			</div>
		</div>
	</div>

	<div id="tbpd-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center tbpd-heading">
				 <h2>Moments....<i class="icon-camera"></i></h2>
				</div>
			</div>
			 <div class="container gal-container">
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#1">
          <img src="/images/hampi3.png">
        </a>
        <div class="modal fade" id="1" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/hampi3.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Virupaksha Temple at Hampi</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#2">
          <img src="/images/hampi.jpg">
        </a>
        <div class="modal fade" id="2" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/hampi.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Stone Carvings at Hampi</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#3">
          <img src="/images/rafting.jpg">
        </a>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/rafting.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>White water rafting at Coorg</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#4">
          <img src="/images/coacle.jpg">
        </a>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/coacle.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Coacle ride at Hampi</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#5">
          <img src="/images/tippusultan.jpg">
        </a>
        <div class="modal fade" id="5" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/tippusultan.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Tippu Sultan Palace at Bengaluru</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#6">
          <img src="/images/Chitrakoot.jpg">
        </a>
        <div class="modal fade" id="6" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/Chitrakoot.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Chitrakot Waterfalls Jagdalpur</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#7">
          <img src="/images/Pilgrimage.jpg">
        </a>
        <div class="modal fade" id="7" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/Pilgrimage.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Buddhist Pilgrimage Center at Coorg</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#8">
          <img src="http://nabeel.co.in/files/bootsnipp/gallery/8.jpg">
        </a>
        <div class="modal fade" id="8" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://nabeel.co.in/files/bootsnipp/gallery/8.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the eighth one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#8">
          <img src="/images/nandihills.jpg">
        </a>
        <div class="modal fade" id="8" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/nandihills.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>View From Nandi Hills</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#9">
          <img src="/images/shooting.jpg">
        </a>
        <div class="modal fade" id="9" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/shooting.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Shooting Academy at Raipur</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#10">
          <img src="/images/hyd.jpg">
        </a>
        <div class="modal fade" id="10" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/hyd.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Beautiful Skies near Charminar</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#11">
          <img src="/images/beach.jpg">
        </a>
        <div class="modal fade" id="11" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/beach.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Ramakrishana Beach Visakhapatnam</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#12">
          <img src="/images/hampi2.png">
        </a>
        <div class="modal fade" id="12" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/hampi2.png">
              </div>
                <div class="col-md-12 description">
                  <h4>Chariot and Goupuram at Hampi</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#13">
          <img src="/images/lemontea.jpg">
        </a>
        <div class="modal fade" id="13" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/lemontea.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Lemon Tea at Vijayawada</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#14">
          <img src="/images/burger.jpg">
        </a>
        <div class="modal fade" id="14" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/burger.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>The Maharaja Mac</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#15">
          <img src="/images/coffee.jpg">
        </a>
        <div class="modal fade" id="15" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="/images/coffee.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>Special Araku Coffee</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  	</div>
	</div>
	</div>
	<div id="tbpd-started" class="tbpd-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center tbpd-heading">
					<h2>Let's get in touch!</h2>
					<p>From the last three years, I have been travelling to many places and exploring their culture and cuisine. So blogs are the places which I have explored. Should you require any information like places to visit, what to Eat, Leave a message, and If you want to share your experience of travelling, you are most welcome.</p>
					<a href="mailto:ratnakarpatrayudu@gmail.com" class="btn btn-default btn-lg">Contact me</a></p>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	



     <div id="tbpd-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<p>&copy; The Backpack Diaries. All Rights Reserved. Designed by <a href="#" target="_blank">Ratnakar</a></p>
				</div>
			</div>
			<div align="Center"><a href="http://www.seoinpractice.com/certificate.html?userid=e0576089236eac28&type=jpg"><img src="http://www.seoinpractice.com/images/certificate/88x31-white.png" width="88" height="31" border="0" alt="Certified by SEO in Practice"/></a></div>
		</div>
	</div>

	{{ partial "common/script" }}	
	</body>
</html>

