<html>
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>  {{ .Title }}</title>
	{{ partial "common/meta"}}
	<meta NAME="ROBOTS"                    content="NOINDEX, NOFOLLOW">
	{{ partial "common/style"}}
    	{{ partial "common/ga" }}

	</head>
	<body>

	{{ partial "header" }}
	
	<div id="ebooks">
	<div class="container">
	<div class="row">
		{{ range .Site.Params.ebooks }}
		{{ partial "list.html" . }}
		{{ end }}
	</div>
	</div>
	</div>
     <div id="tbpd-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<p>&copy; The Backpack Diaries. All Rights Reserved. Designed by <a href="/ratnakar-patrayudu/" target="_blank">Ratnakar</a></p>
				</div>
			</div>
		</div>
	</div>

	{{ partial "common/script" }}	
	</body>
</html>

