<!DOCTYPE HTML>
<html>
	<head>
	<title>Oops!!!! 404 Error | The Backpack Diaries</title>
	
	{{ partial "common/meta"}}

	
	{{ partial "common/style"}}

	{{ partial "common/ga" }}
	</head>
	<body>
		<div id="tbpd-resume" class="tbpd-bg-color">
	<section id="single-page-banner" class="page-title page-title-image blog-hbg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
		  <h1>Oops!</h1>
          <h2>We can't seem to find the page you're looking for.</h2>
          <h5>Error code: 404 </h5>
          <ul class="stuff"><b>Here are some helpful links instead:</b>
            <li><a href="#">Blog</a></li>
            <li><a href="/ratnakar-patrayudu/">About Me</a></li>
          </ul>
        </div>
        <div class="col-5 col-middle text-center">
          <img src="/images/404.jpg" width="313" height="428" alt="person has confused with the routes.">
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer" }}
  {{ partial "common/script" }}	
 </body>
</html>
