<!DOCTYPE HTML>
<html>
	<head>
	<title> Stories behind the Backpacks | The Backpack Diaries</title>
	{{ partial "common/metahome" }}
<meta name="p:domain_verify" content="7ec8ee7d3d8114ef877f0f471847a835"/>
	{{ partial "common/style" }}
	{{ partial "common/ga" }}
<script src="/js/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		<!-- start Header -->
	{{ partial "header" }}
	<!-- end Header -->
		
	<div id="tbpd-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center tbpd-heading">
					<h1>The Backpack Diaries <img class="logo" src="/images/backpack.svg" height="50 px" width="50 px" alt="backpack"></i></h1>
					<p>Of all the journeys in the world, best stories starts from the Backpacks!!!</p>
				</div>
			</div>
			<div class="row">
				 {{ range where .Data.Pages "Section" "blog" }} {{ .Render "li" }} {{ end }}
				
				
			</div>
	<!--	<div class="row">
				<div class="col-md-6 text-left">
				 {{ if .Paginator.HasPrev }}
        <a class="button btn-previous" href="{{ .Paginator.Prev.URL }}">
            < Previous Page
        </a>
    {{ end }}	
				</div>
				<div class="col-md-6 text-right">
					  {{ if .Paginator.HasNext }}
        <a class="button btn-next" href="{{ .Paginator.Next.URL }}">
            Next Page >
        </a>
    {{ end }}
				</div>
			</div>
		</div>
	</div> -->
	
	<!-- {{ partial "footer" }} -->
	<div id="tbpd-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<p>&copy; The Backpack Diaries. All Rights Reserved. Designed by <a href="/ratnakar-patrayudu/" target="_blank">Ratnakar</a></p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	
	
{{ partial "common/script" }}	

	</body>
</html>

