<!DOCTYPE html>
<html lang="en-us">

    <head>
<title>Privacy Policy - The Backpack Diaries</title>
    {{ partial "common/meta" }}

	
    </head>{{ partial "common/style" }}

    <body>
    
	{{ partial "header" }}
	
      {{ .Content }}


      {{ partial "common/script" }}	
            
        </body>

</html>